@media (min-width: 576px) {
  .sticky-preview {
    top: 100px;
  }
}
@media (max-width: 576px) {
  .sticky-preview {
    position: relative !important;
  }
}

#fuzz-builder {
  /*
  margin: 2em 1em;
  */
  position: relative;

  .fuzz-builder-preview {
    cursor: pointer;
    position: relative;
    .z1 {
      z-index: 1;
    }
    .z2 {
      z-index: 20;
    }
    .z3 {
      z-index: 30;
    }
    img.preview-abs {
      position:absolute;
      top: 0px;
      left: 0px;
    }
  }
}

.vue-form-wizard {
  width: 100%;
}

img.option__image.reduced {
  height: 60px;
  width: 60px;
}
.option__small {
  font-size: 0.8rem;
}
.ml-100 {
  margin-left: 100px;
}
.ml-60 {
  margin-left: 60px;
}

form.wizard {
  h4.mt {
    margin-top: 2rem;
  }
}

tr.total td {
  border-top: 2px solid black;
}

