
header.snowman-masthead {
  background-image: url('../img/holiday/header-snowman.jpg') !important;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.bell-masthead {
  background-image: url('../img/holiday/header-bell.jpg') !important;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}
header.xmas-masthead {
  background-image: url('../img/holiday/header-xmas.jpg') !important;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center center;
  background-size: cover;
}

img.instructions-thumb {
  max-height: 150px;
}
