<% set title="The Ultimate Beginner DIY Guitar Pedal Kit" %>
<% set meta_description="Build your own DIY guitar pedal with the most beginner-friendly kit ever released." %>
<% set og_image="https://mas-effects.com/img/beginner-pedal-kit/cover-suitcase.jpg" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>
  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Beginner Pedal Kit</h1>
          <p>TODO: Quick blurb</p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <a class="anchor" id="easy"></a>
          <h2>Easy and Fun</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <a class="anchor" id="affordable"></a>
          <h2>Affordable</h2>
          <h4>Low Price</h4>
          <h4>Minimal Tooling</h4>
          <h4>How?</h4>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <a class="anchor" id="reviews"></a>
          <h2>Reviews</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bg-dark text-white">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <a class="anchor" id="demos"></a>
          <h2>Demos</h2>
          <p>Have a demo you'd like to share? Send it to be added to this page! In the meantime you can hear the same circuit in our <a href="/tiny-fuzz/">MAS Effects Tiny Fuzz pedal here</a>.
          </p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bg-white">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <a class="anchor" id="customize"></a>
          <h2>Make it Your Own</h2>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <a class="anchor" id="pickupsim"></a>
          <h2>Pickup Simulator: Optional Add-on</h2>
        </div>
      </div>
    </div>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2>TODO: Get rid of the below</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
           <ul>
             <li><strong>Affordable</strong>: Getting started building pedals shouldn't break the bank. Not only is this kit's purchase price extremely affordable, but it <strong>requires minimal tooling</strong> and investment to get started (~$15).</li>
             <li><strong>Easy and fun</strong>: We eliminated most of the common reasons people fail on their first pedal. Get a satisfying victory early on to form a more realistic impression of the DIY pedal building hobby.</li>
           </ul>
           <p>
           Now shipping to 
           early adopters who agree to provide feedback in a survey:
           <small>"Official" launch expected in Feb or March, 2024.</small>
           <div class="text-center">
             <a href="https://shop.mas-effects.com/products/ultimate-beginner-pedal-kit" target="_blank" class="btn btn-primary">Get One</a>
             <a target="_blank" href="https://masfx.io/quickfuzz/" class="ml-3 btn btn-outline-success">Documentation / Video</a>
           </div>
           </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5  text-center">
          <a href="https://shop.mas-effects.com/products/ultimate-beginner-pedal-kit">
            <img class="lazy img-fluid" src="/img/beginner-pedal-kit/cover-suitcase-placeholder.jpg" data-src="/img/beginner-pedal-kit/cover-suitcase.jpg" alt="Beginner DIY Guitar Pedal Kit" />
          </a>
          <br>
         <p><a href="https://maseffects.substack.com/p/why-the-world-needs-another-pedal-kit">This article walks through the back story and why we developed this kit.</a></p>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
