<% set title="The Ultimate Beginner DIY Guitar Pedal Kit" %>
<% set meta_description="Build your own DIY guitar pedal with the most beginner-friendly kit ever released." %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Beginner Pedal Kit</h1>
           <h2>More Info Coming Soon... (Fall 2023)</h2>
           <p>
           Now shipping to 
           early adopters who agree to provide feedback in a survey:
           <a href="https://shop.mas-effects.com/products/ultimate-beginner-pedal-kit" target="_blank" class="btn btn-primary">Get One</a>
           </p>
        </div>
      </div>
      <div class="row justify-content-center">
        <div class="col-12 col-sm-8 col-md-6 col-lg-5  text-center">
          <a href="https://shop.mas-effects.com/products/ultimate-beginner-pedal-kit">
            <img class="lazy img-fluid" src="/img/beginner-pedal-kit/cover-suitcase-placeholder.jpg" data-src="/img/beginner-pedal-kit/cover-suitcase.jpg" alt="Beginner DIY Guitar Pedal Kit" />
          </a>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
