<% set title="DIY Guitar Pedal Kits and Modules" %>
<% set meta_description="MAS Effects provides interesting, niche, unique kits and modules for your DIY guitar pedals. Examples include OLED screens, VU meters, playable Christmas Ornaments, relay bypass modules, and more." %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="section-heading text-uppercase">Kits and Modules</h1>
          <h3 class="section-subheading text-muted">Build or enhance your DIY guitar pedals with fun, niche kits and modules</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>This isn't the place to find a PCB for your favorite effects pedals. There are plenty of other fine folks out there who are making those.</p>
          <p>Instead I focus on <strong>niche, novel, or downright gimmicky opportunities for DIY pedal fun</strong>. Here are some of the current and upcoming kits, PCBs, and modules...</p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bg-light bordered" id="star">
    <div class="container">
      <div class="row d-flex d-sm-none">
        <div class="col">
          <h3 class="section-heading text-uppercase">MAS Effects Star Fuzz PCB</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <a href="/star.pdf">
            <img class="lazy img-fluid" src="/img/diy/star-reduced-placeholder.jpg" data-src="/img/diy/star-reduced.jpg" alt="MAS Effects Star Fuzz PCB" />
          </a>
        </div>
        <div class="col-12 col-sm-6">
          <h3 class="d-none d-sm-block section-heading text-uppercase">MAS Effects Star Fuzz PCB</h3>
          <p>Any DIY orders (PCBs, kits, etc) from my store include this free, fun, fuzz PCB, while supplies last.</p>
          <a class="btn btn-outline-primary btn-block" href="https://shop.mas-effects.com/collections/diy" target="_blank">Shop DIY</a>
          <a class="btn btn-success btn-block btn-lg" href="/star.pdf">Star PCB Build Docs</a>
        </div>
      </div>
    </div>
  </section>


  <section class="page-section bordered" id="vu">
    <div class="container">
      <div class="row d-flex d-sm-none">
        <div class="col">
          <h3 class="section-heading text-uppercase">DC Meter Driver (VU meters)</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 order-1 order-sm-2">
          <img class="lazy img-fluid" src="/img/diy/VU-driver-square-reduced-placeholder.jpg" data-src="/img/diy/VU-driver-square-reduced.jpg" alt="VU Meter Driver PCB for DIY Guitar Pedals" />
        </div>
        <div class="col-12 col-sm-6 order-2 order-sm-1">
          <h3 class="d-none d-sm-block section-heading text-uppercase">DC Meter Driver (VU meters)</h3>
          <p>Want a dancing needle on your next pedal build? This driver PCB gives you everything you need to work with most DC meters.</p>
          <a class="btn btn-outline-primary btn-block" href="https://shop.mas-effects.com/products/vu-meter-driver" target="_blank">Shop</a>
          <a class="btn btn-primary btn-block btn-lg" href="/vu-meter-driver/">Learn More</a>
          <p><small><a target="_blank" href="https://github.com/mstratman/vu-meter-driver">GitHub project</a> with the schematic, gerber files, etc.</small></p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bg-light bordered" id="relay-bypass">
    <div class="container">
      <div class="row d-flex d-sm-none">
        <div class="col">
          <h3 class="section-heading text-uppercase">Relay Bypass</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <a href="/relay-bypass/">
            <img class="lazy img-fluid" src="/img/diy/relay-reduced-placeholder.jpg" data-src="/img/diy/relay-reduced.jpg" alt="Relay bypass for DIY guitar pedals" />
          </a>
        </div>
        <div class="col-12 col-sm-6">
          <h3 class="d-none d-sm-block section-heading text-uppercase">Relay Bypass</h3>
          <p>Get a full-featured EQD-style relay bypass for your DIY guitar pedal. This is probably one of the (if not THE) smallest, most featureful, and least expensive (or even free if you're handy with AVR) options available.</p>
          <a class="btn btn-outline-primary btn-block" href="https://shop.mas-effects.com/products/relay-bypass" target="_blank">Shop</a>
          <a class="btn btn-primary btn-block btn-lg" href="/relay-bypass/">Learn More</a>
          <p><small><a target="_blank" href="https://github.com/mstratman/relay-bypass">GitHub project</a> with the schematic, gerber files, etc.</small></p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bordered" id="oled">
    <div class="container">
      <div class="row d-flex d-sm-none">
        <div class="col">
          <h3 class="section-heading text-uppercase">OLED Graphics Module</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <img class="lazy img-fluid" src="/img/diy/oled-square-reduced-placeholder.jpg" data-src="/img/diy/oled-square-reduced.jpg" alt="OLED module for DIY guitar pedals" />
        </div>
        <div class="col-12 col-sm-6">
          <h3 class="d-none d-sm-block section-heading text-uppercase">OLED Graphics Module</h3>
          <p>Ever wanted to play pong with your guitar? Or watch an oscope line or VU meter dance around your guitar pedal for no practical reason? How about a mostly-accurate tuner? Or a TV news feed of an alien invasion?</p>
          <p>These gimicks and more can be yours... when I work out the final kinks and bugs.</p>
          <p><strong><em>Coming... some time....</em></strong> <a href="/#signup-section">Get Notified when there's an update</a></p>
          <p><small>p.s. As always I'll also post everything to GitHub so you can build from scratch</small></p>

        </div>
      </div>
    </div>
  </section>

  <section class="page-section bg-light bordered" id="ridiculously-tiny-fuzz">
    <div class="container">
      <div class="row d-flex d-sm-none">
        <div class="col">
          <h3 class="section-heading text-uppercase">The Tiniest Fuzz... the world never thought it needed</h3>
          <h4 class="section-subheading text-muted">(and probably doesn't)</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 order-1 order-sm-2">
          <a target="_blank" href="https://shop.mas-effects.com/collections/smd-fuzz">
            <img class="lazy img-fluid" src="/img/diy/ridiculously-tiny-fuzz-square-reduced-placeholder.jpg" data-src="/img/diy/ridiculously-tiny-fuzz-square-reduced.jpg" alt="Ridiculously Tiny Fuzz Pedal PCBs" />
          </a>
        </div>
        <div class="col-12 col-sm-6 order-2 order-sm-1">
          <h3 class="d-none d-sm-block section-heading text-uppercase">The Tiniest Fuzz... the world never thought it needed</h3>
          <h4 class="d-none d-sm-block section-subheading text-muted">(and probably doesn't)</h4>
          <p>The PicoFuzz is probably the world's smallest fuzz pedal, and a great opportunity to learn surface mount (SMD) soldering. There's also a 3PDT-mounted StompFuzz version with some extra bells and whistles.</p>
          <p>This and more in the <a target="_blank" href="https://shop.mas-effects.com/collections/smd-fuzz">SMD Fuzz section the store.</a> You can also get build instructions and more information their respective GitHub pages:</p>
          <ul>
            <li><a target="_blank" href="https://github.com/mstratman/picofuzz">PicoFuzz project info</a></li>
            <li><a target="_blank" href="https://github.com/mstratman/stompfuzz">StompFuzz project info</a></li>
          </ul>
          <a target="_blank" href="https://shop.mas-effects.com/collections/smd-fuzz" class="btn btn-primary btn-block">SMD Fuzz PCBs and Kits</a>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bordered" id="smd-adapter">
    <div class="container">
      <div class="row d-flex d-sm-none">
        <div class="col">
          <h3 class="section-heading text-uppercase">FV-1 Breadboard Adapter</h3>
          <h4 class="section-subheading text-muted">or other SOIC and TSSOP ICs</h4>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 order-1 order-sm-2">
          <a target="_blank" href="https://shop.mas-effects.com/products/fv-1-through-hole-adapter-pcb">
            <img class="lazy img-fluid" src="/img/diy/smd-adapter-reduced-placeholder.jpg" data-src="/img/diy/smd-adapter-reduced.jpg" alt="SOIC and TSSOP breadboard adapter" />
          </a>
        </div>
        <div class="col-12 col-sm-6 order-2 order-sm-1">
          <h3 class="d-none d-sm-block section-heading text-uppercase">FV-1 Breadboard Adapter</h3>
          <h4 class="d-none d-sm-block section-subheading text-muted">or other SOIC and TSSOP ICs</h4>
          <p>This breadboard adapter has two sides, SOIC on one, and TSSOP on the other.</p>
          <p>It works for ICs with up to 28 pins, and is perfect for the FV-1. It works great with breadboards, but also perf or proto boards, vero or strip board, and even etched PBCs.</p>
          <a target="_blank" href="https://shop.mas-effects.com/products/fv-1-through-hole-adapter-pcb" class="btn btn-primary btn-block">Get a SOIC and TSSOP Adapter</a>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bordered bg-light" id="mimirs-well">
    <div class="container">
      <div class="row d-flex d-sm-none">
        <div class="col">
          <h3 class="section-heading text-uppercase">Mimir's Well Partial Kit</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <a target="_blank" href="https://shop.mas-effects.com/products/mimirs-well-partial-kit">
            <img class="lazy img-fluid" src="/img/diy/kit-reduced-placeholder.jpg" data-src="/img/diy/kit-reduced.jpg" alt="Mimirs Well Kit - DIY Guitar Pedal with TFT screen and FV-1" />
          </a>
        </div>
        <div class="col-12 col-sm-6">
          <h3 class="d-none d-sm-block section-heading text-uppercase">Mimir's Well Partial Kit</h3>
          <p>Want to build your own <a href="/mimirs-well/">Mimir's Well</a>?
          <a target="_blank" href="https://shop.mas-effects.com/products/mimirs-well-partial-kit">This kit</a> takes away some of the trickiest challenges of a complex build like SMD soldering (surface mounted), EEPROM programming, and microcontroller programming. It is a challenging, but fun and rewarding pedal build.
          </p>
          <p>If you're inclined to do more on your own, you can order a <a target="_blank" href="https://shop.mas-effects.com/collections/diy/products/mimirs-well-pcb">PCB only</a>. I've posted everything you need on <a target="_blank" href="https://github.com/mstratman/fv1-pedal-platform">Github, including instructions for burning EEPROMs</a>.  I've also created a <a href="https://www.youtube.com/watch?v=P5XwpNuIvf0" target="_blank">brief video with some tips and techniques for SMD soldering, including the FV-1</a> needed for this build.
          </p>
          <a target="_blank" href="https://shop.mas-effects.com/products/mimirs-well-partial-kit" class="btn btn-primary btn-block">Mimir's Well Kits / PCBs</a>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bordered" id="xmas">
    <div class="container">
      <div class="row d-flex d-sm-none">
        <div class="col">
          <h3 class="section-heading text-uppercase">Rocking' Around the Christmas Tree</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <a href="/xmas/">
            <img class="lazy img-fluid" src="/img/diy/xmas2-reduced-placeholder.jpg" data-src="/img/diy/xmas2-reduced.png" alt="Playable Guitar Pedal Christmas Tree Ornament" />
          </a>
        </div>
        <div class="col-12 col-sm-6">
          <h3 class="d-none d-sm-block section-heading text-uppercase">Rocking' Around the Christmas Tree</h3>
          <p>You need this. Even if you don't have a Christmas tree. It's guaranteed to generate some conversations. It's a great gift, too.</p>
          <p>So what exactly is this? It's an ornament. It's a sweet but gritty, lo-fi boost guitar "pedal". It's available as <a target="_blank" href="https://shop.mas-effects.com/products/xmas-ornament">a kit you build</a> or <a target="_blank" href="https://shop.mas-effects.com/products/xmas-ornament?variant=39253495152801">completely prebuilt</a>.</p>
          <a class="btn btn-outline-primary btn-block" href="https://shop.mas-effects.com/products/xmas-ornament" target="_blank">Shop</a>
          <a class="btn btn-primary btn-block btn-lg" href="/xmas/">Learn More</a>
          <p><small><a target="_blank" href="https://github.com/mstratman/xmas-pedal">GitHub project</a> with the schematic, gerber files, etc.</small></p>
        </div>
      </div>
    </div>
  </section>


<% endblock %>
