<% set title="The Expanse - Harmonic Tremolo Pedal by MAS Effects" %>
<% set meta_description="The Expanse is a harmonic tremolo pedal you can keep on Earth, or get lost in space." %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">The Expanse</h1>
          <h3 class="section-subheading text-muted">A harmonic tremolo pedal you can keep on Earth, or get lost in space</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-12 col-sm-6 text-center">
          <span class="prototype-note">(Prototype Photo)</span><br>
          <img class="lazy img-fluid" src="/img/expanse-placeholder.jpg" data-src="/img/expanse.png" alt="The Expanse by MAS Effects" />
        </div>
        <div class="col-12 col-sm-6 small">
          <p>This harmonic tremolo gives you a huge range of tonal possibilities. It can be used as a standalone tremolo, optionally with with some layered on reverb, or you can dial in some complex textured delays and feedback to create dreamy soundscapes. And of course you have everything inbetween.</p>
          <p>This isn't a pedal you can simply set all the knobs to noon and start jamming, so be sure to check out <a href="#settings">the favorite settings below</a>.</p>

          <p><em>Coming soon (Late Summer or Early Fall, 2021)</em></p>
          <p>
            <a class="btn btn-primary" href="/waitlist/?item=Expanse">Join Waitlist</a>
          </p>

        </div>
      </div>
    </div>
  </section>



  <section class="page-section mt-0 pt-0 small">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="anchor" id="settings"></a>
          <h2>Demos</h2>
          <p class="TODO">Coming Soon</p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section mt-0 pt-0 small">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Controls</h2>
          <ul class="controls">
            <li>
              <strong>Expression jacks</strong> - Separate jacks let you control the <em>Width</em> or <em>Velocity</em> controls with any expression pedal, including the MAS Effects <a href="/expression/">Desktop Expression Pedal</a>.
            <li>
              <strong>Volume</strong> - Overall level of the pedal
            </li>
            <li>
              <strong>Blend</strong> - Mixes from completely dry (clean) signal to completely wet (tremolo). DO NOT UNDERESTIMATE this control, especially for typical day-to-day playing. A clockwise blend may make sense for rich ambient music, but don't leave it cranked-up all the time.
            </li>
            <li>
              <strong>Outer Space</strong> - When off you get a harmonic tremolo with reverb. Turning it on introduces a complex delay with feedback along with the tremolo.
            </li>
            <li>
              <strong>Warp</strong> - 3-way toggle changes the type of filters used, altering the depth of its sound
            </li>
            <li>
              <strong>Width</strong> - Alters the sweeping range of the effect <small>(when OUTER SPACE is OFF)</small>, or the Distance between feedback <small>(when OUTER SPACE is ON)</small>
            </li>
            <li>
              <strong>Velocity</strong> - Alters the speend of the tremolo
            </li>
            <li>
              <strong>Expanse</strong> - Controls how much spacey ambience is added to the effect.
            </li>
            <li>
              <strong>Vast Expanse foot switch</strong> - holding this pushes the <em>EXPANSE</em> control beyond its limits, letting you accentuate parts, do swells, and more. The combination of the <em>Expanse</em> and <em>Expanse Ceiling</em> knobs will determine how far out this goes.
            </li>
            <li>
              <strong>Max Vast</strong> (<em>Unlabeled upper-right knob</em>) - this controls how far out the <em>Vast Expanse</em> foot switch will take your sounds when you hold it down.  It is <strong>highly interactive with the <em>Expanse</em> knob</strong>. When <em>Expanse</em> is set low, this needs to be turned further to have a dramatic effect, and when <em>Expanse</em> is cranked up, this will have a much greater impact.
            </li>

            <li>
              <strong>Black hole foot switch</strong> - Switch between true bypass and engaged
            </li>
          </ul>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <a class="anchor" id="settings"></a>
          <h3>Favorite Settings</h3>
          <p class="TODO">Coming Soon</p>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
