<% set title="The Expanse - Harmonic Tremolo Pedal by MAS Effects" %>
<% set meta_description="The Expanse is a harmonic tremolo pedal you can keep on Earth, or get lost in space." %>
<% set og_image="https://mas-effects.com/img/expanse.png" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">The Expanse</h1>
          <h3 class="section-subheading text-muted">A harmonic tremolo pedal you can keep on Earth, or get lost in space</h3>
        </div>

      </div>
      <div class="row">
        <div class="col small">
          <p>This harmonic tremolo gives you a huge range of tonal possibilities. It can be used as a standalone tremolo, optionally with with some layered on reverb, or you can dial in some complex textured delays and feedback to create dreamy soundscapes. And of course you have everything inbetween.</p>
          <p>This isn't a pedal you can simply set all the knobs to noon and start jamming, so be sure to check out <a href="#settings">the favorite settings below</a>.</p>

          <p><em>Coming May 31, 2022</em></p>
          <p>
            <a class="btn btn-primary" href="/waitlist/?item=Expanse">Join Waitlist</a>
          </p>

        </div>
      </div>
    </div>
  </section>



  <section class="page-section mt-0 pt-0 small">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="anchor" id="settings"></a>
          <h2>Demos</h2>
          <p class="TODO">Coming Soon</p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section mt-0 pt-0 small">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Controls</h2>
          <p class="TODO">Coming Soon</p>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <a class="anchor" id="settings"></a>
          <h3>Favorite Settings</h3>
          <p class="TODO">Coming Soon</p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section small mt-0 pt-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="anchor" id="settings"></a>
          <h2>Technical Specificiations</h2>
          <p class="TODO">Coming Soon</p>
        </div>
      </div>
    </div>
  </section>


<% endblock %>
