<% set title="The Expanse - Harmonic Tremolo Pedal by MAS Effects" %>
<% set head_jquery=true %>
<% set meta_description="The Expanse is a harmonic tremolo pedal you can keep on Earth, or get lost in space." %>
<% set store_link="https://shop.mas-effects.com/cart/add?id=42471815151777" %>
<% set cta="Get One" %>
<% set og_image="https://mas-effects.com/img/expanse.png" %>
<% extends "partials/_template.html" %>

<% block head_additions %>
  <link type="text/css" rel="stylesheet" href="/vendor/simpleLightbox.min.css" />
  <script src="/vendor/simpleLightbox.min.js"></script>
  <script src="/js/expanse.min.js"></script>
<% endblock %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container gallery">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">The Expanse</h1>
          <h3 class="section-subheading text-muted">A harmonic tremolo pedal you can keep on Earth, or get lost in space</h3>
        </div>

      </div>
      <div class="row">
        <div class="col-6 text-center">
          <a class="lightbox" href="/img/expanse/cover.jpg" target="_blank">
            <img class="lazy img-fluid" src="/img/expanse/560x560/cover-placeholder.jpg" data-src="/img/expanse/560x560/cover.jpg" alt="The Expanse by MAS Effects" />
          </a>
        </div>
        <div class="col-6 small">
          <p>This harmonic tremolo gives you a huge range of tonal possibilities. It can be used as a standalone tremolo, optionally with with some layered on reverb, or you can dial in some complex textured delays and feedback to create dreamy soundscapes. And of course you have everything inbetween.</p>
          <!--
          <p>This isn't a pedal you want to simply set all the knobs to noon and start jamming, so be sure to check out <a href="#settings">the favorite settings below</a>.</p>
          -->

          <div class="row d-none d-md-flex">
            <!-- NOTE THIS gallery IS DUPLICATED BELOW -->
            <div class="col-6">
              <a class="lightbox" target="_blank" href="/img/expanse/angle.jpg">
                <img class="img-fluid" src="/img/expanse/160x160/angle.jpg" alt="The Expanse by MAS Effects" />
              </a>
            </div>
            <div class="col-6">
              <a class="lightbox" target="_blank" href="/img/expanse/bottom.jpg">
                <img class="img-fluid" src="/img/expanse/160x160/bottom.jpg" alt="The Expanse by MAS Effects" />
              </a>
            </div>
            <div class="col-6">
              <a class="lightbox" target="_blank" href="/img/expanse/top.jpg">
                <img class="img-fluid" src="/img/expanse/160x160/top.jpg" alt="The Expanse by MAS Effects" />
              </a>
            </div>
            <div class="col-6">
              <a class="lightbox" target="_blank" href="/img/expanse/front.jpg">
                <img class="img-fluid" src="/img/expanse/160x160/front.jpg" alt="The Expanse by MAS Effects" />
              </a>
            </div>
          </div>

          <div class="mt-5 d-none d-md-block">
            <a class="btn btn-primary btn-lg btn-block" href="<$ store_link $>"><$ cta $></a>
          </div>

        </div>
      </div>

      <div class="row d-md-none">
        <!-- NOTE THIS IS DUPLICATED ABOVE -->
        <div class="col-6">
          <a  class="lightbox" target="_blank" href="/img/expanse/angle.jpg">
            <img class="img-fluid" src="/img/expanse/160x160/angle.jpg" alt="The Expanse by MAS Effects" />
          </a>
        </div>
        <div class="col-6">
          <a class="lightbox" target="_blank" href="/img/expanse/bottom.jpg">
            <img class="img-fluid" src="/img/expanse/160x160/bottom.jpg" alt="The Expanse by MAS Effects" />
          </a>
        </div>
        <div class="col-6">
          <a class="lightbox" target="_blank" href="/img/expanse/top.jpg">
            <img class="img-fluid" src="/img/expanse/160x160/top.jpg" alt="The Expanse by MAS Effects" />
          </a>
        </div>
        <div class="col-6">
          <a class="lightbox" target="_blank" href="/img/expanse/front.jpg">
            <img class="img-fluid" src="/img/expanse/160x160/front.jpg" alt="The Expanse by MAS Effects" />
          </a>
        </div>
      </div>

      <div class="row d-md-none">
        <div class="col">
          <a class="btn btn-primary btn-lg btn-block" href="<$ store_link $>">Get One</a>
        </div>
      </div>

      <!--
      <div class="row mt-4">
        <div class="col-6 col-md-4 col-lg-3">
          <a href="https://shop.mas-effects.com/collections/featured-products/products/the-expanse-harmonic-tremolo?variant=42471815184545" target="_blank">
            <img class="lazy img-fluid" src="/img/expanse/expanse-chameleon-starlight.jpg" data-src="/img/expanse/expanse-chameleon-starlight.gif" alt="Chameleon Starlight version of The Expanse by MAS Effects" />
          </a>
        </div>
        <div class="col-6 col-md-8 col-lg-9 small">
          <p><a href="https://shop.mas-effects.com/collections/featured-products/products/the-expanse-harmonic-tremolo?variant=42471815184545" target="_blank">[LIMITED] We also have some <strong>Chameleon Starlight</strong> finishes</a>. They're sometimes teal, sometimes purple, sometimes black (depending on lighting and angle)... and always sparkly and gorgeous.</p>
          <a class="btn btn-sm btn-outline-primary" href="https://shop.mas-effects.com/collections/featured-products/products/the-expanse-harmonic-tremolo?variant=42471815184545" target="_blank">Get One</a>
        </div>
      </div>
      -->
      <!--
      <div class="row mt-4">
        <div class="col">
          <h3>Devil's Punchbowl [LIMITED]</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-md-4 col-lg-3">
          <a href="https://shop.mas-effects.com/products/the-expanse-harmonic-tremolo?variant=42901360902305" target="_blank">
            <img class="lazy img-fluid" src="/img/expanse/expanse-devils-punchbowl-placeholder.jpg" data-src="/img/expanse/expanse-devils-punchbowl.png" alt="Devils Punchbowl version of The Expanse by MAS Effects" />
          </a>
        </div>
        <div class="col-6 col-md-8 col-lg-9 small">
          <p><a href="https://shop.mas-effects.com/products/the-expanse-harmonic-tremolo?variant=42901360902305" target="_blank">[LIMITED] We also have some <strong>Devil's Punchbowl</strong> finishes</a>.
          This is a sparkly finish, and still dark and and subtle. Absolutely gorgeous, with hints of green and gold. You can <a href="https://www.prismaticpowders.com/shop/powder-coating-colors/PPB-10245/devils-punchbowl" target="_blank">see a better swatch here</a>.
          <br>
          <a class="btn btn-sm btn-outline-primary" href="https://shop.mas-effects.com/products/the-expanse-harmonic-tremolo?variant=42901360902305" target="_blank">Get One</a>
        </div>
      </div>
      -->

    </div>
  </section>



  <section class="page-section mt-0 pt-0 small">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="anchor" id="demos"></a>
          <h2>Demos</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-12 col-lg-8 offset-lg-2 text-center">
          <div class="embed-responsive embed-responsive-16by9 text-white" style="background-color: #8f8f8f;">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/9Tn8G7yr5Aw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class="text-center"><a href="https://www.youtube.com/watch?v=9Tn8G7yr5Aw" target="_blank">Andy Martin (AndyDemos)</a></p>
        </div>
      </div>
      <div class="row">

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 text-center">
          <div class="embed-responsive embed-responsive-16by9 text-white" style="background-color: #8f8f8f;">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/k9V6Tx-O8mY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class="text-center"><a href="https://www.youtube.com/watch?v=k9V6Tx-O8mY" target="_blank">Emily Hopkins</a></p>
        </div>

        <div class="col-12 col-sm-6 col-md-6 col-lg-4 text-center">
          <div class="embed-responsive embed-responsive-16by9 text-white" style="background-color: #8f8f8f;">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/4zekOelhHTI?start=2012" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class="text-center"><a href="https://youtu.be/4zekOelhHTI?t=2012" target="_blank">That Pedal Show</a></p>
        </div>

        <div class="col-6 col-md-6 col-lg-4 text-center">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/oKjGH6rCqWs" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class="text-center"><a href="https://www.youtube.com/watch?v=oKjGH6rCqWs" target="_blank">Mike Hermans</a></p>
        </div>

        <div class="col-6 col-md-6 col-lg-4 text-center">
          <div class="embed-responsive embed-responsive-16by9 text-white" style="background-color: #8f8f8f;">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/yVkl1yGybes" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class="text-center"><a href="https://www.youtube.com/watch?v=yVkl1yGybes" target="_blank">Megan L</a></p>
        </div>

        <div class="col-6 col-md-6 col-lg-4 text-center">
          <div class="embed-responsive embed-responsive-16by9 text-white" style="background-color: #8f8f8f;">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/m0UVgl_yPlk" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class="text-center"><a href="https://www.youtube.com/watch?v=m0UVgl_yPlk" target="_blank">Ian Pritchard (collector//emitter)</a></p>
        </div>

        <div class="col-6 col-md-6 col-lg-4 text-center">
          <div class="embed-responsive embed-responsive-16by9 text-white" style="background-color: #8f8f8f;">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/E_F-xZeVXUw" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p class="text-center"><a href="https://www.youtube.com/watch?v=E_F-xZeVXUw" target="_blank">Sasha Ivantic</a></p>
        </div>

        <!--
        <div class="d-none d-sm-block col-12 col-sm-6 col-md-4 text-center">
          <div class="embed-responsive embed-responsive-16by9 text-white" style="background-color: #8f8f8f;">
            <strong>COMING SOON</strong>
          </div>
          <p class="text-center"><a href="#TODO" target="_blank">Devon Blue Whitaker</a></p>
        </div>
        -->

      </div>
      <div class="row">
        <div class="col text-center">
          <a class="btn btn-lg btn-primary" href="<$ store_link $>"><$ cta $></a>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section mt-0 pt-0 small">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Controls</h2>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3 text-center">
          <img class="img-fluid" src="/img/expanse/controls.png" alt="The Expanse controls" />

        </div>
        <div class="col-12 col-md-8 col-lg-9">
          <dl class="controls">
            <dt><strong>Expression jacks</strong></dt>
            <dd>Separate jacks let you simultaneously control <em>WIDTH</em> and either <em>EXPANSE</em> or <em>VELOCITY</em> with any expression pedal, including the <strong><a href="https://shop.mas-effects.com/collections/one-of-a-kind/products/desktop-expression-pedal-prototype-special-edition?variant=41778733088929" target="_blank">Expanse-themed expression slider</a></strong>, or the regular MAS Effects <a target="_blank" href="/expression/">Desktop Expression Pedal</a>.</dd>

            <dt><strong>Width</strong></dt>
            <dd>
              Sweeping range of the tremolo
              <small>(on bottom 2 OUTER SPACE settings)</small>
              <br>
              or Spacing between echoes
              <small>(on upper OUTER SPACE setting)</small>
            </dd>

            <dt><strong>VELOCITY</strong></dt>
            <dd>Speed of tremolo sweep</dd>

            <dt><strong>EXPANSE</strong></dt>
            <dd>Amount of atmospheric ambience</dd>

            <dt><strong>VASTNESS</strong>
              <small>(<em>Unlabeled upper-right knob</em>)</small>
            </dt>
            <dd>
              Amount of space added when pressing the <em>VAST EXPANSE</em> foot switch
              <br>
              <small>(Interactive with <em>EXPANSE</em>. e.g. Higher <em>EXPANSE</em> settings make this more responsive. Experiment to get a feel for it)</small>
            </dd>


            <dt><strong>VOLUME</strong></dt>
            <dd>Overall effect level. Gives up to 2x boost to compensate for the perceived drop in volume from tremolo</dd>

            <dt><strong>BLEND</strong></dt>
            <dd>Mixes dry and wet signals</dd>

            <dt><strong>OUTER SPACE</strong></dt>
            <dd>
              Sets the mode of the pedal:
              <ul>
                <li class="mt-0">DOWN: Harmonic tremolo only. EXPANSE is disabled</li>
                <li class="mt-0">MID: Adds expansive reverb</li>
                <li class="mt-0">UP: Adds echoing feedback</li>
              </ul>
            </dd>

            <dt><strong>WARP</strong></dt>
            <dd>
              Selects between different voices:
              <ul>
                <li class="mt-0">DOWN: Sensible and beautiful harmonic tremolo</li>
                <li class="mt-0">MID:  Slightly more severe, with different frequencies on the high and low pass filters, and more resonance</li>
                <li class="mt-0">UP: The low frequency oscillator (LFO) not only pans between the filters, but also shifts their frequencies.
                  The <em>WIDTH</em> knob has a much bigger impact on the sound than in other <em>WARP</em> settings as it also shifts the resonance</li>
              </ul>
            </dd>

            <dt><strong>VAST EXPANSE</strong> <small>(<em>foot switch</em>)</small></dt>
            <dd>Temporarily pushes the EXPANSE beyond EXPANSE its limits. Its added amount is controlled by <em>VASTNESS</em></dd>

            <dt><strong>BYPASS</strong> <small>(<em>foot switch</em>)</small></dt>
            <dd>Tap to toggle between engaged and bypassed <small>(true bypass)</small>.  Hold to temporarily toggle, the release to switch back</dd>
          </dl>
        </div>
      </div>

      <div class="row">
        <div class="col">
          <h5>Internal Trimmers</h5>
          <p>An internal trimmer sets the ceiling of the EXPANSE knob.
             <br>
             Another sets the LED brightness, which can reduce power consumption if needed.</p>
        </div>
      </div>

      <div class="row mt-3">
        <div class="col">
          <a class="anchor" id="settings"></a>
          <h5>Favorite Settings</h5>
          <p class="TODO-nohighlight"><em>Coming Soon</em></p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section small mt-0 pt-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="anchor" id="specs"></a>
          <h2>Technical Specifications</h2>
          <dl>
            <dt><strong>Power supply</strong></dt>
            <dd>9V DC, 2.1mm center negative (not included). No internal battery clip.</dd>

            <dt><strong>Power consumption</strong></dt>
            <dd>70mA to 110mA depending on LED brightness, set with an internal trimmer. By default it's around 100mA and you can safely plug it into a 100mA port on a multi-port power supply.</dd>

          <!--
            <dt><strong>Input impedance</strong></dt>
            <dd><em>coming soon</em></dd>

            <dt><strong>Output impedance</strong></dt>
            <dd><em>coming soon</em></dd>
          -->

            <dt><strong>Bypass</strong></dt>
            <dd>True bypass, relay controlled with a soft-touch switch. Hold to temporarily engage/bypass.</dd>

            <dt><strong>In / Out Jacks</strong></dt>
            <dd>1/4" mono (TS)</dd>

            <dt><strong>Expression Jacks</strong></dt>
            <dd>1/4" stereo (TRS)</dd>

            <dt><strong>Dimensions</strong></dt>
            <dd>94x118mm footprint (3.7" x 4.65"), 60mm tall including knobs (2.36")</dd>

          </dl>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section small mt-0 pt-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="anchor" id="manual"></a>
          <h2>Manual</h2>
          <p><a target="_blank" href="/files/expanse-manual.pdf">Download the manual here</a>.</p>
          <p><a target="_blank" class="btn btn-dark" href="/files/expanse-manual.pdf">Get Manual</a></p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section small mt-0 pt-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Warranty</h2>
          <p>The Expanse, like all MAS Effects pedals, is covered by a generous <a href="/help/#warranty">Forever Warranty. Follow this link for details</a>.</p>
        </div>
      </div>

      <div class="row mt-5">
        <div class="col text-center">
          <a class="btn btn-lg btn-primary" href="<$ store_link $>">SHOP NOW</a>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section small bg-dark">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2>Desktop Expression Slider</h2>
          <h5 class="section-subheading text-muted text-center">[limited edition]</h5>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-7 col-md-8 col-lg-7">
          <a target="_blank" href="/img/expanse/expanse-expression-slider-smaller.jpg">
            <img class="lazy img-fluid" src="/img/expanse/expanse-expression-slider-thumb-placeholder.jpg" data-src="/img/expanse/expanse-expression-slider-thumb.jpg" alt="Expanse-themed Expression Slider by MAS Effects" />
          </a>
        </div>
        <div class="col-12 col-sm-5 col-md-4 col-lg-5">
          <p>We've also made a limited number of <a href="https://shop.mas-effects.com/collections/one-of-a-kind/products/desktop-expression-pedal-prototype-special-edition?variant=41778733088929" target="_blank">Expanse-themed versions</a> of our popular <a href="/expression">expression slider</a>.</p>
          <p>It makes a great companion to The Expanse.</p>
          <div class="text-center">
            <a href="https://shop.mas-effects.com/collections/one-of-a-kind/products/desktop-expression-pedal-prototype-special-edition?variant=41778733088929" target="_blank" class="btn btn-outline-primary btn-sm">Get Expanse Slider [$39]</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <a class="anchor" id="content"></a>
  <section class="page-section small bg-teal">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2>Your Content!</h2>
          <p><a href="/contact">Send in your audio, video clips, or pics</a> and we'll post them here. Let everyone see and hear what you're doing with The Expanse</p>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <% include "partials/expanse-customers/5.html" %>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <% include "partials/expanse-customers/1.html" %>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <% include "partials/expanse-customers/2.html" %>
        </div>
        <div class="col-12 col-md-6 col-lg-4">
          <% include "partials/expanse-customers/4.html" %>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <!--
          <a href="/expanse-players" class="btn btn-primary btn-lg">
            SEE MORE
          </a>
          &nbsp;
          -->
          <a href="/contact" class="btn btn-dark btn-lg">
            SEND YOURS
          </a>
        </div>
      </div>
    </div>
  </section>



<% endblock %>
