<% set title="Desktop Slider Expression Pedal by MAS Effects" %>
<% set meta_description="Easily tweak knobs on your favorite pedals from the comfort of your desktop, mic stand, or anywhere within reach using this expression slider pedal for guitar, bass, or synth." %>
<% set og_image="https://mas-effects.com/img/expression.png" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Desktop Slider Expression Pedal</h1>
          <h3 class="section-subheading text-muted">Tweak your favorite settings from the comfort of your desktop, mic stand, or anywhere within reach</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 text-center">
          <img class="lazy img-fluid" src="/img/expression-placeholder.jpg" data-src="/img/expression.png" alt="Desktop Slider Expression Pedal" />
        </div>
        <div class="col-12 col-md-6 small">
          <p>
            Two Designs to choose from.
          </p>
          <p>Available in either 100k (most common) or 10k (select pedals, e.g. Boss)</p>
          <p>Plug this into any other pedal with an expression jack to get remote control of that pedal. <em>NOTE:</em> these sliders are to be manipulated by hand. <strong>Don't use your feet</strong> on them.</p>
          <p>They are TRS (require stereo cable) and have a B100k potentiometer which works well with EQD, Strymon, EHX, Matthews Effects, and more.  10k is also available for Boss (and perhaps other) pedals. This expression pedal will not work well with Eventide, Line 6, or others that use TS cables.
          </p>
          <p><strong>Please check with your pedal's manual or manufacturer for compatibility before purchasing.</strong></p>

          <div class="text-center">
            <p>
              <em>Coming Soon (late summer 2021)</em>
            </p>
            <a class="" href="https://shop.mas-effects.com/collections/featured-products/products/desktop-expression-pedal-prototype-special-edition" target="_blank">Buy Prototype with Special Limited Edition Graphics</a>

            <br>
            or
            <br>
            <a class="btn btn-primary" href="/waitlist/?item=Expression%20Slider">Join Waitlist</a>
          </div>
        </div>
      </div>

    </div>
  </section>

<% endblock %>
