<% set title="Tiny Fuzz Pedals for Guitar" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="section-heading text-uppercase">Tiny Fuzz Series</h1>
          <h3 class="section-subheading text-muted">Hand-crafted fuzz pedals that'll stand out on your board</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>More details coming soon.</p>
          <!--
          <p>TODO: Link to stompfuzz - how/why it can be so affordable</p>
          -->
        </div>
      </div>
    </div>
  </section>

<% endblock %>
