<% set title="FV-1 digital guitar effects and kits" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="section-heading text-uppercase">FV-1 DSP Pedals and Kits</h1>
          <h3 class="section-subheading text-muted">Unlock hundreds of amazing patches</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <ul>
            <li>Mimir's Horn: Affordable customized pedal with 8 of your favorite patches, plus 7 built-in</li>
            <li>Mimir's Well: Deluxe version of Mimir's Horn with 23 patches and a full color screen</li>
            <li>Mimir's Well Kits: DIY pedal builders, build your own Mimir's Well <em>(intermediate to advanced)</em></li>
            <li>Bank Builder: Buy EEPROMs to go with your Mimir pedal, as well as most other DIY FV-1 based pedals (e.g. those from PedalPBC). This bank builder includes a curated list of patches.</li>
            <li>Browse the full open source list of patches here</li>
          </ul>
          <p>More details coming soon.</p>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
