<% set title="FV-1 digital guitar effects and kits" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="section-heading text-uppercase">FV-1 DSP Pedals and Kits</h1>
          <h3 class="section-subheading text-muted">Unlock hundreds of amazing patches</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <h3 class="mb-4">The Opportunity</h3>
          <p>Many of <strong>your favorite pedals have nearly identical circuitry</strong>, with the only important difference being the <strong>patches</strong> running on their FV-1 audio DSPs <em>(digital signal processors)</em>. We're not talking about cheap multi-effects units, but some of the <strong>most popular, high-end pedals</strong> out there (EQD, EHX, Walrus, Chase Bliss, and tons more).
          </p>
          <p>Pedal companies obviously want you to buy multiple pedals, each running only a single patch. This creates a neat little niche in the market for something like this.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="my-4">The Outcome</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 order-1">
          <h5 class="text-center">Mimir's Well</h5>
          <p>Mimir's Well is a <strong>very limited</strong> batch of <strong>expertly handcrafted</strong> pedals.
          It uses all of its hardware to run a single patch at a time, like your other favorite pedals that use the FV-1 (e.g. Dispatch Master, Rainbow Machine, Arp 87). Unlike those, though, it also <strong>holds 23 patches</strong> you can switch between. You <strong>customize your pedal by choosing from 163+ patches</strong> designed by amazing audio engineers and enthusastic members of the DIY pedal community.
          </p>
        </div>
        <div class="col-12 col-sm-6 order-2 order-lg-3 text-center">
          <a href="/mimirs-well/">
            <img class="img-fluid home-mw" src="/img/cover1-squared-reduced.jpg" alt="Mimir's Well - FV-1 DSP Pedal Platform" />
          </a>
        </div>
        <div class="col-12 col-sm-6 order-3 order-lg-2">
          <h5 class="text-center">Mimir's Horn</h5>
          <p>Mimir's Horn is the smaller, and more affordable version with the same great audioprocessing but simplified to omit the display and extra bank.</p>
          <div class="mt-2">
            <strong><a target="_blank" href="https://mas-effects.square.site/product/shelter/15?cs=true">Buy Now</a></strong>
            <br>
            <a href="/mimirs-well/">Learn more...</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 order-4 text-center">
          <a target="_blank" href="https://mas-effects.square.site/product/shelter/15?cs=true">
            <img class="img-fluid home-mw" src="/img/other-pedals/fv1.png" alt="Mimir's Horn" />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col mt-4">
          <a href="/mimirs-well/" class="btn btn-outline-primary btn-block">
            Learn More
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3>Give Your Old Pedal Some New Sounds</h3>
          <p>Want more patches on more banks? If you already own an FV-1 based pedal you can use our <a href="/fv1-programs/">bank builder</a> to order more.</p>
          <ul>
            <li>Mimir's Well owners: $1/patch (1 bank for $8).</li>
            <li>Pedals without a display: $0.50/patch (2 banks for $8)</li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col mt-4">
          <a href="/fv1-programs/" class="btn btn-outline-primary btn-block">
            Bank Builder
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3>DIY Pedal Builders</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <h4>Tons of patches</h4>
          <p>Visit my open source repository of community-contributed and SpinSemi patches at
          <strong><a href="https://mstratman.github.io/fv1-programs/" target="_blank">https://mstratman.github.io/fv1-programs/</a></strong>
          </p>
        </div>


        <div class="col-12 col-sm-6">
          <h4>Mimir's Well Partial Kit</h4>
          <p>Want to build your own Mimir's Well? <a target="blank" href="https://mas-effects.square.site/product/mimirs-well-kit/6?cp=true&sa=false&sbp=false&q=false&category_id=5">This kit</a> takes away some of the trickiest challenges of a complex, but fun and rewarding pedal build.</p>
          <p>This and more in the <strong><a target="_blank" href="https://mas-effects.square.site/shop/diy/5">DIY section the store...</a></strong></p>

          <a target="_blank" class="text-decoration-none" href="https://mas-effects.square.site/product/mimirs-well-kit/6?cp=true&sa=false&sbp=false&q=false&category_id=5">
            <img class="lazy img-fluid" src="/img/diy/kit-placeholder.jpg" data-src="/img/diy/kit.jpg" alt="Mimir's Well - Partial Kit" />
          </a>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
