<% set title="Help - MAS Effects" %>
<% set meta_description="Learn how to initiate returns, repairs, warranty claims etc" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Help</h1>
        </div>
      </div>
      <div class="row">
        <div class="col small">
          <h3 class="mt-5">Contact</h3>
          <p>If you have any problems or question please use the <strong><a href="/contact">contact form</a></strong> or email <a href="mailto:mark@mas-effects.com">mark@mas-effects.com</a> directly.</p>

          <a class="anchor" id="out-of-stock"></a>
          <h3 class="mt-5">Out of Stock?</h3>
          <p><strong><a href="/waitlist">Sign up to a waitlist</a></strong> to get notified when an item becomes available again.
          Can't find a MAS Effects item you're looking for? Just <a href="/contact">reach out and ask</a>.
          </p>

          <a class="anchor" id="shipping"></a>
          <h3 class="mt-5">Shipping Information</h3>
          <p><strong>Most orders ship same day or next business day</strong>. When it's going to take longer I'll usually note it in the product description. In those rare times where a shipment might be delayed I will email you.</p>
          <p>Orders within the United States will typically be sent via USPS. Otherwise you will be given shipping options at checkout.</p>


          <a class="anchor" id="returns"></a>
          <h3 class="mt-5">Return Policy</h3>
          <p>To return a product for any reason <a href="/contact">contact MAS Effects</a> within 5 business days to initiate a return. Ship it back and (assuming it's still in new condition) you will receive a <strong>full refund less initial shipping</strong>.</p>
          <p>If it has been more than 5 days, reach out anyway since exceptions will often be made. Depending on timing (e.g. much longer periods) and circumstances (e.g. not perfect condition) there may be a reasonable restocking or refurbishing fee.</p>

          <a class="anchor" id="repairs"></a>
          <h3 class="mt-5">Repairs</h3>
          <p>
          Repairs under warranty will be performed at no charge.  For non-warranty repairs you will need to pay the cost of parts, labor ($30/hr), and shipping. To get started or to get an estimate, <a href="/contact">contact MAS Effects</a>.
          </p>


          <a class="anchor" id="warranty"></a>
          <h3 class="mt-5">Lifetime Warranty Details</h3>
          <p>MAS Effects pedals carry a lifetime warranty. This warranty applies to the product, not the owner, so it doesn't matter whether you bought from us or second hand.</p>
          <p>The warranty covers manufacturing defects, mechanical failures, or electrical failures that occur during normal use (which is determined at our very reasonable discretion). If the problems occur within 120 days of purchase, we'll even provide a shipping label.</p>
          <p>The warranty does not cover cosmetic damage, liquid damage, incorrect power supplies (reverse polarity or incorrect voltage), or excessive abuse. If you have one of these problems, we can still help! You'll simply need to cover the costs (also very reasonable).  The warranty applies only to pre-built pedals and does not cover DIY supplies (PCBs, kits, microcontrollers) for building your own pedals.</p>
          <p>To get a repair started,  <a href="/contact">contact MAS Effects</a>.</p>

          <a class="anchor" id="media"></a>
          <h3 class="mt-5">Media / Press</h3>
          <p>Visit <a href="/media">the media page for pedal photos, logos, and press releases</a>.</p>

          <a class="anchor" id="about"></a>
          <h3 class="mt-5">About MAS Effects</h3>
          <!--
          <p>
          MAS Effects pedals and DIY kits are made by <a href="https://stratman.me/" target="_blank">Mark A. Stratman</a> &lt;<a href="mailto:mark@mas-effects.com">mark@mas-effects.com</a>&gt; in Lockport, IL USA. 
          </p>
          -->

          <p>
          MAS Effects has been making fun and unique guitar pedals and DIY parts since 2020.
          Feeling that the world doesn't need yet another company doing endless reissues of the same handful of circuits, <a href="https://stratman.me/" target="_blank">Mark A. Stratman</a> founded MAS Effects in Lockport, IL to focus on <strong>unmet niche needs</strong>, <strong>fun and quirky novelties</strong>, and opportunities to leverage his <strong>digital expertise</strong> for amazing new effects and DIY utilities.
          <!--
          Popular offerings have included a <a href="/mimirs-well">multi-patch DSP platform pedal</a>, <a href="/holiday">Christmas tree ornament "pedal" kits</a>, <a href="/tiny-fuzz">budget hand-built "Illustrator Series" fuzzes</a>, <a href="/relay-bypass">DIY relay bypass kits</a>, and <a href="expression">an expression/volume slider</a>.
          -->
          </p>
          <p>Get a glimpse behind the scenes <a href="https://maseffects.substack.com" target="_blank">on our substack</a> where we’ll post (albeit raw, unpolished) updates showing projects in progress, new product ideas coming to life, workshop tours, and other random tidbits.
          </p>
          <p class="text-center"><a href="https://maseffects.substack.com" target="_blank" class="btn btn-info">Go Behind the Scenes</a></p>

        </div>
      </div>
    </div>
  </section>

<% endblock %>
