<# DONT CHANGE THE URL OF THIS FILE. It is referenced in printed cards #>
<% set title="Build Instructions for DIY Christmas Ornament Guitar Pedals by MAS Effects" %>
<% set meta_description="Get build instructions here for your DIY Christmas ornament guitar pedal kit." %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Build Instructions: DIY Pedal Ornament Kits</h1>
          <p> Instructions are written for the absolute beginner; This kit is perfect to dip your toe into the "DIY guitar pedal" waters.</p>
          <!--
          <h3 class="section-subheading text-muted">.......</h3>
          -->
        </div>
      </div>

      <div class="row">
        <div class="col-4 text-center">
          <a href="/holiday/bell.pdf">
            <h4 class="text-center">Bell</h4>
            <h5 class="mb-3 text-center section-subheading text-muted">Octave Up</h5>
          </a>
        </div>
        <div class="col-4 text-center">
          <a href="/holiday/tree.pdf">
            <h4 class="text-center">Tree</h4>
            <h5 class="mb-3 text-center section-subheading text-muted">Boost</h5>
          </a>
        </div>
        <div class="col-4 text-center">
          <a href="/holiday/snowman.pdf">
            <h4 class="text-center">Snowman</h4>
            <h5 class="mb-3 text-center section-subheading text-muted">Distortion</h5>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-4 text-center">
          <a href="/holiday/bell.pdf">
            <img class="instructions-thumb lazy img-fluid" src="/img/holiday/available/bell-placeholder.jpg" data-src="/img/holiday/available/bell.jpg">
          </a>
          <br>
          <a class="btn btn-success btn-sm" href="/holiday/bell.pdf">Bell Documentation</a>
        </div>
        <div class="col-4 text-center">
          <a href="/holiday/tree.pdf">
            <img class="instructions-thumb lazy img-fluid" src="/img/holiday/available/tree-placeholder.jpg" data-src="/img/holiday/available/tree.jpg">
          </a>
          <br>
          <a  class="btn btn-success btn-sm" href="/holiday/tree.pdf">Tree Documentation</a>
        </div>
        <div class="col-4 text-center">
          <a href="/holiday/snowman.pdf">
            <img class="instructions-thumb lazy img-fluid" src="/img/holiday/available/snowman-placeholder.jpg" data-src="/img/holiday/available/snowman.jpg">
          </a>
          <br>
          <a  class="btn btn-success btn-sm" href="/holiday/snowman.pdf">Snowman Documentation</a>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <h2>Need Help?</h2>
          <p><strong>Post to <a target="_blank" href="https://www.reddit.com/r/maseffects/">reddit r/maseffects</a></strong> with some pictures and a brief description of the trouble you're having. We'll help you get the problem sorted out pretty quick.</p>
          <p><a href="https://www.reddit.com/r/maseffects/" target="_blank" class="btn btn-primary">Get Help Now</a></p>
          <p>Alternatively you can also visit other DIY Pedals communities such as  <a target="_blank" href="https://www.reddit.com/r/diypedals/">r/diypedals</a>, 
          <a target="_blank" href="https://www.diystompboxes.com/smfforum/">the DIYstompboxes forum</a>, or the 
          Facebook Guitar Pedal Builders group. But for these you'll need to provide more details and context like build docs, schematic, etc.
          </p>
          <p>You can also <a href="mailto:mark@mas-effects.com">email me directly</a> but you'll get a quicker response through those groups.</p>
          <p>There are dozens of other DIY pedal communities as well, so of course you can seek help anywhere else.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">Need More Ornaments?</h2>
          <p>These make an amazing, thoughtful, conversation-sparking gift that won't break the bank.</p>
          <p><a href="/holiday/">Back to main ornament page</a>, or...</p>
          <a class="btn btn-primary" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament">Shop Now</a>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
