<% set title="Christmas Ornament Guitar Pedal Kits by MAS Effects" %>
<% set meta_description="These DIY guitar pedal kits are ornaments you can play! Several designs to choose from, and priced to make them a great gift for your bandmates, friends, and family." %>
<% set og_image="https://mas-effects.com/img/holiday/all.jpg" %>
<% extends "partials/_template.html" %>

<% block body %>
  <header class="masthead xmas-masthead">
    <div class="container">
      <div class="intro-text">
        <h2 class="intro-lead-in">A playable guitar "pedal", an ornament, a fun project kit, a conversation piece</h2>
        <h1 class="intro-heading text-uppercase">Christmas Ornament Guitar Pedal Kits</h1>
        <div class="mt-2">
          <a class="btn btn-primary btn-lg text-uppercase js-scroll-trigger" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament" target="_blank">Buy Now</a>
        </div>
      </div>
    </div>
  </header>

  <section class="page-section">
    <div class="container">

      <% set imgs = [
           "3pack",
           "bell",
           "snowman",
           "night2"
         ]
      %>
      <div class="row no-gutters">
        <% for img in imgs %>
          <div class="col-6 col-md-3">
            <a target="_blank" href="/img/holiday/gallery/<$ img $>.jpg">
              <img class="lazy img-fluid" src="/img/holiday/gallery/<$ img $>-reduced-placeholder.jpg" data-src="/img/holiday/gallery/<$ img $>-reduced.jpg" />
            </a>
          </div>
        <% endfor %>
      </div>
    </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="text-center section-heading text-uppercase">So what exactly are these?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4 text-center">
          <img class="img-fluid" src="/img/holiday/xmas-animated2.gif" alt="Playable guitar pedal ornament" />
        </div>
        <div class="col-12 col-sm-8">
          <ul>
            <li>Playable <strong>guitar/bass/synth "pedals"</strong>. Can you jam on  your other ornaments? Or hang your other pedals from a tree?</li>
            <li>Christmas tree <strong>ornaments</strong>. Gussied up with lights, ribbons, and other cuteness. </li>
            <li><strong><a target="_blank" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament">Kits you build</a></strong>. Instructions are written for the absolute beginner; This kit is perfect to dip your toe into the "DIY guitar pedal" waters.   (<a target="_blank" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament?variant=40889557418145">prebuilt are available too</a>).</li>
            <li><strong>Ridiculously inexpensive</strong> <small>(starting at $16.33 / each)</small> and fun gifts, projects, conversation pieces.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-12 col-sm-4 text-center">
          <h3 class="text-center">Octave Up</h3>
          <h5 class="mb-3 text-center section-subheading text-muted">Green Ringer / Tentacle</h5>
          <p>
            <a class="btn btn-sm btn-outline-info" href="/holiday/bell/">Learn More</a>
            <a class="btn btn-sm btn-primary" target="_blank" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament">Buy</a>
          </p>
          <a href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament"  target="_blank">
            <img class="lazy img-fluid" src="/img/holiday/available/bell-placeholder.jpg" data-src="/img/holiday/available/bell.jpg">
          </a>
        </div>
        <div class="col-12 col-sm-4 text-center">
          <h3 class="text-center">Lo-Fi Boost</h3>
          <h5 class="mb-3 text-center section-subheading text-muted">Tape Measure</h5>
          <p>
            <a class="btn btn-sm btn-outline-info" href="/holiday/tree/">Learn More</a>
            <a class="btn btn-sm btn-primary"  target="_blank" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament">Buy</a>
          </p>
          <a href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament"  target="_blank">
            <img class="lazy img-fluid" src="/img/holiday/available/tree-placeholder.jpg" data-src="/img/holiday/available/tree.jpg">
          </a>
        </div>
        <div class="col-12 col-sm-4 text-center">
          <h3 class="text-center">Overdrive Distortion</h3>
          <h5 class="mb-3 text-center section-subheading text-muted">Op-amp w/ Clipping</h5>
          <p>
            <a class="btn btn-sm btn-outline-info" href="/holiday/snowman/">Learn More</a>
            <a class="btn btn-sm btn-primary" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament"  target="_blank">Buy</a>
          </p>
          <a href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament"  target="_blank">
            <img class="lazy img-fluid" src="/img/holiday/available/snowman-placeholder.jpg" data-src="/img/holiday/available/snowman.jpg">
          </a>
        </div>
      </div>

      <div class="row">
        <div class="col mt-2">
          <a class="btn btn-lg btn-block btn-primary" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament"  target="_blank">Get One</a>
        </div>
      </div>

    </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-uppercase">Instructions &amp; Help</h2>
          <p>Visit the <a href="/holiday-instructions">instructions page</a> for details on building these kits.</p>
          <p> Instructions are written for the absolute beginner; This kit is perfect to dip your toe into the "DIY guitar pedal" waters.</p>
          <p><a class="btn btn-success" href="/holiday-instructions">Kit Instructions / Help</a></p>
        </div>
      </div>

    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-uppercase">The Perfect Christmas Gift for Guitar Players</h2>
          <p>... or a tinkerer who likes to build.</p>
          <p>What more could you want from a gift? They are...</p>
          <ul>
            <li>novel and interesting</li>
            <li>conversation-sparking</li>
            <li>useful and fun</li>
            <li>thoughtful and unique</li>
            <li>and won't break the bank.</li>
          </ul>
          <p><a target="_blank" class="btn btn-primary" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament">Show Now</a></p>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
