<% set title="Build Instructions for DIY Christmas Ornament Guitar Pedals by MAS Effects" %>
<% set meta_description="Get build instructions here for your DIY Christmas ornament guitar pedal kit." %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Build Instructions: DIY Pedal Ornament Kits</h1>
          <!--
          <h3 class="section-subheading text-muted">.......</h3>
          -->
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <p>
          coming soon
          </p>

          <p>If you got an early kit and need docs, <a href="/contact">contact me and I'll send you the preliminary information</a>.</p>

        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>Need Help?</h2>
          ...todo
        </div>
      </div>
    </div>
  </section>

<% endblock %>
