<% set title="Christmas Ornament Guitar Pedal Kits by MAS Effects" %>
<% set meta_description="These DIY guitar pedal kits are ornaments you can play! Several designs to choose from, and priced to make them a great gift for your bandmates, friends, and family." %>
<% set og_image="https://mas-effects.com/img/holiday/5pack.jpg" %>
<% extends "partials/_template.html" %>

<% block body %>
  <header class="masthead xmas-masthead">
    <div class="container">
      <div class="intro-text">
        <!--
        <h2 class="intro-lead-in">A playable guitar "pedal", an ornament, a fun project kit, a conversation piece</h2>
        -->
        <h1 class="intro-heading text-uppercase">Christmas Ornament Guitar Pedal Kits</h1>
        <div class="mt-2">
          <a class="btn btn-primary btn-lg text-uppercase js-scroll-trigger" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament" target="_blank">Buy Now [$19]</a>
        </div>
      </div>
    </div>
  </header>
<!--
  <section class="page-section">
    <div class="container">

      <% set imgs = [
           "3pack",
           "bell",
           "snowman",
           "night2"
         ]
      %>
      <div class="row no-gutters">
        <% for img in imgs %>
          <div class="col-6 col-md-3">
            <a target="_blank" href="/img/holiday/gallery/<$ img $>.jpg">
              <img class="lazy img-fluid" src="/img/holiday/gallery/<$ img $>-reduced-placeholder.jpg" data-src="/img/holiday/gallery/<$ img $>-reduced.jpg" />
            </a>
          </div>
        <% endfor %>
      </div>
    </div>
  </section>
  -->


  <section class="page-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <h3 class="text-center section-heading text-uppercase">So what exactly are these?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-4 text-center">
          <img class="img-fluid" src="/img/holiday/xmas-animated2.gif" alt="Playable guitar pedal ornament" />
        </div>
        <div class="col-12 col-sm-8">
          <ul>
            <li>Playable <strong>guitar/bass/synth "pedals"</strong>. Can you jam on  your other ornaments? Or hang your other pedals from a tree?</li>
            <li>Christmas tree <strong>ornaments</strong>. Gussied up with lights, ribbons, and other cuteness. </li>
            <li><strong><a target="_blank" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament">Kits you build</a></strong>. Instructions are written for the absolute beginner; This kit is perfect to dip your toe into the "DIY guitar pedal" waters.   (<a target="_blank" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament?variant=40889557418145">prebuilt are available too</a>).</li>
            <li><strong>Ridiculously inexpensive</strong> <small>(starting at $16.33 / each)</small> and fun gifts, projects, conversation pieces.</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h3>Collect All 5</h3>
        </div>
      </div>

      <div class="row">

        <div class="col-6 col-md-4 col-lg-3 text-center">
          <div class="card mt-3">
            <div class="card-header bg-white">
              <h3 class="text-center">Octave Up</h3>
              <h5 class="mb-3 text-center section-subheading text-muted">Circuit: Green Ringer / Tentacle</h5>
              <a class="small" href="/holiday/bell/">Learn More</a>
              <a class="btn btn-block btn-sm btn-primary" target="_blank" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament?variant=40889557581985">Buy</a>
              <a class="mt-2 btn btn-sm btn-outline-success btn-block" href="/holiday/bell.pdf">Instructions</a>
            </div>
            <div class="card-body p-0">
              <a href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament?variant=40889557581985"  target="_blank">
                <img class="lazy img-fluid" src="/img/holiday/available/bell-placeholder.jpg" data-src="/img/holiday/available/bell.jpg">
              </a>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 text-center">
          <div class="card mt-3">
            <div class="card-header bg-white">
              <h3 class="text-center">Lo-Fi Boost</h3>
              <h5 class="mb-3 text-center section-subheading text-muted">Circuit: Tape Measure</h5>
              <a class="small" href="/holiday/tree/">Learn More</a>
              <a class="btn btn-block btn-sm btn-primary" target="_blank" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament?variant=40889557450913">Buy</a>
              <a class="mt-2 btn btn-sm btn-outline-success btn-block" href="/holiday/tree.pdf">Instructions</a>
            </div>
            <div class="card-body p-0">
              <a href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament?variant=40889557450913"  target="_blank">
                <img class="lazy img-fluid" src="/img/holiday/available/tree-placeholder.jpg" data-src="/img/holiday/available/tree.jpg">
              </a>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 text-center">
          <div class="card mt-3">
            <div class="card-header bg-white">
              <h3 class="text-center">Overdrive Distortion</h3>
              <h5 class="mb-3 text-center section-subheading text-muted">Circuit: Op-amp w/ Clipping</h5>
              <a class="small" href="/holiday/snowman/">Learn More</a>
              <a class="btn btn-block btn-sm btn-primary" target="_blank" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament?variant=40889557516449">Buy</a>
              <a class="mt-2 btn btn-sm btn-outline-success btn-block" href="/holiday/snowman.pdf">Instructions</a>
            </div>
            <div class="card-body p-0">
              <a href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament?variant=40889557516449"  target="_blank">
                <img class="lazy img-fluid" src="/img/holiday/available/snowman-placeholder.jpg" data-src="/img/holiday/available/snowman.jpg">
              </a>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 text-center">
          <div class="card mt-3">
            <div class="card-header bg-white">
              <h3 class="text-center">Fuzz</h3>
              <h5 class="mb-3 text-center section-subheading text-muted">Circuit: Silicon Fuzz Face</h5>
              <!--
              <a class="btn btn-sm btn-outline-info" href="/holiday/stocking/">Learn More</a>
              -->
              <a class="btn btn-block btn-sm btn-primary" target="_blank" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament?variant=42628351885473">Buy</a>
              <a class="mt-2 btn btn-sm btn-outline-success btn-block" href="/holiday/stocking.pdf">Instructions</a>
            </div>
            <div class="card-body p-0">
              <a href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament?variant=42628351885473"  target="_blank">
                <img class="lazy img-fluid" src="/img/holiday/available/stocking-placeholder.jpg" data-src="/img/holiday/available/stocking.jpg">
              </a>
            </div>
          </div>
        </div>

        <div class="col-6 col-md-4 col-lg-3 text-center">
          <div class="card mt-3">
            <div class="card-header bg-white">
              <h3 class="text-center">Auto-wah / Envelope Filter</h3>
              <h5 class="mb-3 text-center section-subheading text-muted">Circuit: Nurse Quacky</h5>
              <!--
              <a class="btn btn-sm btn-outline-info" href="/holiday/gift/">Learn More</a>
              -->
              <a class="btn btn-block btn-sm btn-primary" target="_blank" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament?variant=42628351819937">Buy</a>
              <a class="mt-2 btn btn-sm btn-outline-success btn-block" href="/holiday/gift.pdf">Instructions</a>
            </div>
            <div class="card-body p-0">
              <a href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament?variant=42628351819937"  target="_blank">
                <img class="lazy img-fluid" src="/img/holiday/available/gift-placeholder.jpg" data-src="/img/holiday/available/gift.jpg">
              </a>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-uppercase">Instructions &amp; Help</h2>
          <p>Visit the <a href="/holiday-instructions">instructions page</a> for details on building these kits.</p>
          <p> Instructions are written for the absolute beginner; This kit is perfect to dip your toe into the "DIY guitar pedal" waters.</p>
          <p><a class="btn btn-success" href="/holiday-instructions">Kit Instructions / Help</a></p>
        </div>
      </div>

    </div>
  </section>

  <section class="page-section bg-light">
    <div class="container">
      <div class="row">
        <div class="col-12 col-md-4 col-lg-3">
          <h2 class="section-heading text-uppercase">A fun video</h2>
          <p>
            Emily Hopkins
            (<a href="https://www.instagram.com/emilyharpist/" target="_blank">@emilyharpist</a>),
            an amazing harp player with an equally awesome <a href="https://www.youtube.com/channel/UCChNhjW49smKB3zssiUjENg" target="_blank">YouTube channel</a>, put together this video on her experience.
          </p>
          <p>It's quite heart warming.</p>
        </div>
        <div class="col-12 col-md-8 col-lg-9">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/AE7Ejg-dAlY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="section-heading text-uppercase">The Perfect Christmas Gift for Guitar Players</h2>
          <p>What more could you want from a gift? They are...</p>
          <ul>
            <li>novel and interesting</li>
            <li>conversation-sparking</li>
            <li>useful and fun</li>
            <li>thoughtful and unique</li>
            <li>and won't break the bank.</li>
          </ul>
          <p>Get a handful for coworkers, bandmates, friends, family, neighbors...</p>
          <p><a target="_blank" class="btn btn-primary" href="https://shop.mas-effects.com/products/guitar-pedal-christmas-ornament">Shop Now</a></p>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
