<% set title="Christmas Ornament Guitar Pedals by MAS Effects" %>
<% set meta_description="These DIY guitar pedal kits are Christmas Tree ornaments you can play! Several designs to choose from, and priced to make them a great gift for your bandmates, friends, and family." %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Playable Guitar Pedal Ornaments</h1>
          <!--
          <h3 class="section-subheading text-muted">.......</h3>
          -->
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6">
          <a href="https://mas-effects.com/waitlist/?item=xmas">
            <img class="img img-fluid" src="/img/holiday-small.jpg" alt="MAS Effects holiday ornaments">
          </a>
        </div>
        <div class="col-12 col-sm-6">
          Coming soon...
          <br>
          <a class="btn btn-primary" href="https://mas-effects.com/waitlist/?item=xmas">Join the waitlist</a>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          <h2>Need Help?</h2>
          Coming soon.
        </div>
      </div>
    </div>
  </section>

<% endblock %>
