<% set title="MAS Effects: FV-1 Pedal Platform and other custom guitar pedals" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section bg-dark text-white mimirs-well-masthead">
    <div class="container">
      <div class="row">
        <div class="col text-center mt-3">
          <h1 class="text-uppercase">MAS Effects</h2>
          <div class="intro-lead-in">Custom guitar pedals and unique PCBs and kits for DIY pedal builders</div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section" id="section-fuzz">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">Tiny Fuzz</h2>
          <h3 class="section-subheading text-muted">Little pedal, big sound. A unique style to make your own</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-4 text-center">
          <a href="https://mas-effects.square.site/product/fuzzy-monster-under-my-bed-glowing-eyes/42?cp=true&sa=true&sbp=false&q=false" target="blank">
            <img class="lazy img-fluid" src="/img/monster-fuzz-placeholder.jpg" data-src="/img/monster-fuzz.jpg" alt="Monster Under My Bed Fuzz guitar pedal" />

            <h5>Fuzzy Monster Under My Bed</h5>
          </a>
          <small>Art by <a href="https://www.instagram.com/kaileyreidillustration/" target="_blank">Kailey Reid</a></small>
        </div>
        <div class="col-6 col-sm-4 text-center">
          <a href="https://mas-effects.square.site/product/tiny-crazy-tree-fuzz/39?cp=true&sa=true&sbp=false&q=false" target="_blank">
            <img class="lazy img-fluid" src="/img/tiny-crazy-tree-fuzz-placeholder.jpg" data-src="/img/tiny-crazy-tree-fuzz.jpg" alt="Tiny Crazy Tree Fuzz guitar pedal" />
            <h5>Tiny Crazy Tree Fuzz</h5>
          </a>
        </div>
        <div class="col-6 col-sm-4 text-center">
          <a href="https://mas-effects.square.site/product/tiny-rocket-fuzz/40?cp=true&sa=true&sbp=false&q=false" target="_blank">
            <img class="lazy img-fluid" src="/img/tiny-rocket-fuzz-placeholder.jpg" data-src="/img/tiny-rocket-fuzz.jpg" alt="Tiny Rocket Fuzz guitar pedal" />
            <h5>Tiny Rocket Fuzz</h5>
          </a>
          <small>Art by <a href="https://www.instagram.com/camtronart/" target="_blank">Cam Ojeda</a></small>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <a class="btn btn-lg btn-block btn-primary" href="https://mas-effects.square.site/shop/tiny-fuzz/8" target="_blank">
            Shop Fuzz
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bg-light bordered" id="section-diy">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">DIY Guitar Pedals</h2>
          <h3 class="section-subheading text-muted">Add-ons, Kits, and PCBs</h3>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <p>If you like to make your own pedals I have quite a few interesting modules, kits, and PCBs. <strong><a href="/diy/">Visit the DIY page for more info</a></strong>.</p>
        </div>
      </div>
      <div class="row no-gutters">
        <div class="col-6 col-sm-4">
          <a href="/xmas/">
            <img class="lazy img-fluid" src="/img/diy/xmas2-reduced-placeholder.jpg" data-src="/img/diy/xmas2-reduced.png" alt="Playable Guitar Pedal Christmas Tree Ornament" />
          </a>
        </div>
        <div class="col-6 col-sm-4">
          <a href="/relay-bypass/">
            <img class="lazy img-fluid" src="/img/diy/relay-reduced-placeholder.jpg" data-src="/img/diy/relay-reduced.jpg" alt="Relay Bypass Kit for DIY Guitar Pedals" />
          </a>
        </div>
        <div class="col-6 col-sm-4">
          <a href="/diy/#oled">
            <img class="lazy img-fluid" src="/img/diy/oled-square-reduced-placeholder.jpg" data-src="/img/diy/oled-square-reduced.jpg" alt="OLED module for DIY guitar pedals" />
          </a>
        </div>
        <!--
        <div class="col-6 col-sm-4">
          <a href="/diy/#ridiculously-tiny-fuzz">
            <img class="lazy img-fluid" src="/img/diy/ridiculously-tiny-fuzz-square-reduced-placeholder.jpg" data-src="/img/diy/ridiculously-tiny-fuzz-square-reduced.jpg" alt="Ridiculously Tiny Fuzz Pedal PCBs" />
          </a>
        </div>
        -->
        <div class="col-6 col-sm-4">
          <a href="/diy/#ridiculously-tiny-fuzz">
            <img class="lazy img-fluid" src="/img/diy/stompfuzz-reduced-placeholder.jpg" data-src="/img/diy/stompfuzz-reduced.jpg" alt="StompFuzz - ridiculously tiny switch-mounted Fuzz Pedal PCB" />
          </a>
        </div>
        <div class="col-6 col-sm-4">
          <a href="/diy/#ridiculously-tiny-fuzz">
            <img class="lazy img-fluid" src="/img/diy/picofuzz-reduced-placeholder.jpg" data-src="/img/diy/picofuzz-reduced.jpg" alt="PicoFuzz - ridiculously tiny Fuzz Pedal PCB" />
          </a>
        </div>
        <div class="col-6 col-sm-4">
          <a href="/vu-meter-driver">
            <img class="lazy img-fluid" src="/img/diy/VU-driver-square-reduced-placeholder.jpg" data-src="/img/diy/VU-driver-square-reduced.jpg" alt="VU Meter Driver PCB for DIY Guitar Pedals" />
          </a>
        </div>
        <div class="offset-sm-4 col-6 col-sm-4">
          <a href="/diy/#mimirs-well">
            <img class="lazy img-fluid" src="/img/diy/kit-reduced-placeholder.jpg" data-src="/img/diy/kit-reduced.jpg" alt="Mimirs Well Kit - DIY Guitar Pedal with TFT screen and FV-1" />
          </a>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col">
          <a class="btn btn-lg btn-block btn-primary" href="/diy/">
            More DIY...
          </a>
        </div>
      </div>
    </div>
  </section>


  <section class="page-section bordered">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">FV-1 DSP Pedals and Kits</h2>
          <p>Visit our FV-1 page to learn about this amazing platform, get banks, kits, and more. Or continue below to see two awesome pedals built on it.</p>
          <a class="btn btn btn-primary mb-4" href="/fv1/">More on the FV-1</a>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">

          <h3 class="section-heading">One Pedal, Endless Possibilities</h3>
          <h3 class="section-subheading text-muted">Choose your own patches on this high end FV-1 DSP Platform</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 text-center mb-4 mb-sm-0">
          <h4 class="section-heading">Mimir's Well</h4>
          <p class="fourlines">
            23 Patches, Full color TFT screen. Endless possibilities.
          </p>
          <div>
            <a href="/mimirs-well/">
              <img class="lazy img-fluid home-mw" src="/img/cover1-squared-reduced-placeholder.jpg" data-src="/img/cover1-squared-reduced.jpg" alt="Mimir's Well - FV-1 DSP Pedal Platform" />
            </a>
          </div>
          <div class="mt-2">
            <a href="/mimirs-well/" class="btn btn-outline-primary btn-block">
              Learn More
            </a>
            <a href="https://mas-effects.square.site/product/mimirs-well/2" target="_blank" class="btn btn-outline-secondary btn-block">Sold Out</a>
          </div>
        </div>
        <div class="col-12 col-sm-6 text-center mt-4 mt-sm-0">
          <h4 class="section-heading">Mimir's Horn</h4>
          <p class="fourlines">
          8 Patches. Same high end, customizable sounds in a more affordable package
          </p>
          <div>
            <a href="/mimirs-well/">
              <img class="lazy img-fluid home-mw" src="/img/other-pedals/fv1-placeholder.jpg" data-src="/img/other-pedals/fv1.png" alt="Mimir's Horn" />
            </a>
          </div>
          <div class="mt-2">
            <a href="/mimirs-well/" class="btn btn-outline-primary btn-block">
              Learn More
            </a>
          </div>
          <div class="mt-2">
            <a target="_blank" href="https://mas-effects.square.site/product/shelter/15?cp=true&sa=true&sbp=false&q=false" class="btn btn-primary btn-block">
              Buy Now
            </a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="bg-teal page-section" id="signup-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">Signup For Updates</h2>
          <h3 class="section-subheading text-muted">Find out when there are new pedals, kits, or other cool stuff, and get occassional discount promo codes</h3>
          <form method="POST" data-netlify="true" name="home-signup">
            <div class="form-row justify-content-center">
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" id="signup-pedals" name="pedals" class="custom-control-input" value="yes" checked>
                <label for="signup-pedals" class="custom-control-label">Pedals</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" id="signup-diy" name="diy" class="custom-control-input" value="yes" checked>
                <label for="signup-diy" class="custom-control-label">DIY Kits/PCBs</label>
              </div>
              <div class="custom-control custom-checkbox custom-control-inline">
                <input type="checkbox" id="signup-discounts" name="discounts" class="custom-control-input" value="yes" checked>
                <label for="signup-discounts" class="custom-control-label">Discounts</label>
              </div>
            </div>
            <div class="form-row justify-content-center">
              <div class="form-group col-12 col-sm-8 col-lg-5 col-xl-4">
                <label for="input-email-1" class="sr-only">Email:</label>
                <input type="text" class="form-control mr-2" id="input-email-1" placeholder="you@example.com" name="_replyto" autocomplete="email">
              </div>
              <div class="col-12 col-sm-4 col-lg-3 col-xl-2">
                <button type="submit" class="btn btn-block btn-primary">Yes, Please!</button>
              </div>
            </div>
          </form>

          <p class="mt-4">Also follow on
          <strong><a href="https://www.instagram.com/mas_effects/" target="blank">Instagram (@mas_effects)</a></strong>
          for more frequent updates and pedals that never make it to the site.</p>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section" id="section-other-pedals">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">Other Pedals</h2>
          <h3 class="section-subheading text-muted">Custom one-off pedals.</h3>
          <p>These are just a few. <a target="_blank" href="https://mas-effects.square.site/shop/pedals/2">Go to the store for more available for purchase.</a></p>
          <p><strong><a target="_blank" href="https://www.instagram.com/mas_effects/">Follow @mas_effects on Instagram</a></strong>
          since many of my creations don't make it to this site or the store page.</p>
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-sm-6 col-md-3 text-center">
          <a class="text-decoration-none" href="/guitar-pedals/">
            <div class="caption">Your Own Custom Guitar Pedal</div>
            <img class="img-fluid other-pedal-thumbnail" src="/img/other-pedals/custom.png" alt="Custom Guitar Pedal" />
          </a>
        </div>
        <div class="col-6 col-sm-6 col-md-3 text-center">
          <a target="_blank" class="text-decoration-none" href="https://mas-effects.square.site/product/shelter/15?cp=true&sa=true&sbp=false&q=false">
            <div class="caption">Mimir's Horn</div>
            <img class="lazy img-fluid other-pedal-thumbnail" src="/img/other-pedals/fv1-placeholder.jpg" data-src="/img/other-pedals/fv1.png" alt="Mimir's Horn" />
          </a>
        </div>
        <div class="col-6 col-sm-6 col-md-3 text-center">
          <a target="_blank" class="text-decoration-none" href="https://mas-effects.square.site/product/wendigo-scrambler-octave-fuzz-based-on-ampeg-scrambler/10?cp=true&sa=false&sbp=false&q=false&category_id=2">
            <div class="caption">Wendigo Scrambler</div>
            <img class="lazy img-fluid other-pedal-thumbnail" src="/img/other-pedals/wendigo-scrambler-placeholder.jpg" data-src="/img/other-pedals/wendigo-scrambler.png" alt="Wendigo Scrambler" />
          </a>
        </div>
        <div class="col-6 col-sm-6 col-md-3 text-center">
          <a target="_blank" class="text-decoration-none" href="https://mas-effects.square.site/product/eqd-the-depths-clone-optical-vibe-guitar-pedal/3?cp=true&sa=true&sbp=false&q=false">
            <div class="caption">Optical Vibe - The Depths Clone</div>
            <img class="lazy img-fluid other-pedal-thumbnail" src="/img/other-pedals/the-depths-placeholder.jpg" data-src="/img/other-pedals/the-depths.png" alt="The Depths guitar pedal Clone" />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-lg-6 mt-2">
          <a href="/guitar-pedals/" class="btn btn-primary btn-lg btn-block">
            Get a Custom Pedal
          </a>
        </div>
        <div class="col-12 col-lg-6 mt-2">
          <a target="_blank" href="https://mas-effects.square.site/shop/pedals/2" class="btn btn-outline-primary btn-lg btn-block">
            See More
          </a>
        </div>
      </div>
    </div>
  </section>


<% endblock %>
