<% set title="TODO" %>
<% set meta_description="TODO" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Krampus Fuzz</h1>
          <h3 class="section-subheading text-muted">TODO<h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12">
          TODO...
        </div>
      </div>
    </div>
  </section>

<% endblock %>
