<% set title="Media - MAS Effects" %>
<% set meta_description="Press and media information for MAS Effects pedals. e.g. logos, pedal graphics, background information, and other press kit type stuff" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Media / Press</h1>
          <h3 class="section-subheading text-muted">Logos, Pedal Graphics, Background information and other press kit type stuff</h3>
        </div>
      </div>
      <div class="row">
        <div class="col small">
          <p>If there's anything you're looking for that you can't find on this page then <a href="/contact">contact us</a> and we'll be happy to help.</p>
          <h3>About MAS Effects</h3>

          <p>
          MAS Effects has been making fun and unique guitar pedals and DIY parts since 2020.
          Feeling that the world doesn't need yet another company doing endless reissues of the same handful of circuits, Mark A. Stratman founded MAS Effects in Lockport, IL to focus on <strong>unmet niche needs</strong>, <strong>fun and quirky novelties</strong>, and opportunities to leverage his <strong>digital expertise</strong> for amazing new effects and DIY utilities.
          Popular offerings have included a <a href="/mimirs-well">multi-patch DSP platform pedal</a>, <a href="/holiday">Christmas tree ornament "pedal" kits</a>, <a href="/tiny-fuzz">budget hand-built "Illustrator Series" fuzzes</a>, <a href="/relay-bypass">DIY relay bypass kits</a>, and <a href="expression">an expression/volume slider</a>.
          </p>


          <!--
          <h6>Pedals and Service</h6>
          -->
          <p>All pedals come with a <a target="_blank" href="/help/#warranty">forever warranty</a>, and a <a target="_blank" href="/help/#returns">liberal return policy</a>. Customers (and window shoppers!) are routinely surprised and delighted at the personal attention they receive and we are committed to preserving this even through continued, rapid growth.</p>

          <h3>Media Kits</h3>
          <p>Pedal photos, logo images, press releases, etc.</p>
          <ul>
            <li>
              <!--<a href="/media/mas-effects-sona-fuzz.zip"><strong>Sona Fuzz</strong>: zip of transparent background PNG files</a>-->
              <a href="/media/sona-fuzz.zip"><strong>Sona Fuzz</strong> - ZIP file includes photos, MAS Effects logos, and press release</a>
              <ul>
                <li><em>Or get them individually:</em></li>
                <li><a href="/media/sona-fuzz/Sona-Fuzz-press-release/Sona-Fuzz-PR.docx">Press release [Word]</a></li>
                <li><a href="/media/sona-fuzz/Sona-Fuzz-press-release/Sona-Fuzz-PR.pdf">Press release [PDF]</a></li>
                <li><a href="/media/sona-fuzz/sona-fuzz-3pack1.png">Photo 1</a></li>
                <li><a href="/media/sona-fuzz/sona-fuzz-3pack2.png">Photo 2</a></li>
              </ul>
            </li>
            <li>The Expanse: Coming soon - in the meantime, <a href="/contact">contact</a></li>
            <li>Mimir's Well: <a href="/contact">contact</a></li>
            <li>Trio+ Deluxe True Bypass: <a href="/contact">contact</a></li>
            <li>Tiny Fuzz: Illustrator Series: <a href="/contact">contact</a></li>
            <li>Expression Slider: <a href="/contact">contact</a></li>
            <li>Holiday Ornaments: <a href="/contact">contact</a></li>
          </ul>

          <h3>MAS Effects Logos</h3>
          <ul>
            <li><a href="/media/mas-effects-black.png">Logo (preferred), black [transparent png]</a> or <a href="/media/mas-effects.svg">[SVG]</a></li>
            <li><a href="/media/mas-effects-white.png">Logo (preferred), white [transparent png]</a></li>
            <li><a href="/media/mas-effects-horizontal-black.png">Horizontal logo, black [transparent png]</a> or <a href="/media/mas-effects-horizontal.svg">[SVG]</a></li>
            <li><a href="/media/mas-effects-horizontal-white.png">Horizontal, logo, white [transparent png]</a></li>
          </ul>

          <h3>FAQ</h3>
          <p><strong>Pronunciation?</strong> - 
          I pronounce MAS as "mass" but don't mind "más" (as in "more") either. I inexplicably avoid the initialism, "M. A. S." though, despite it actually being based on initials.
          </p>

        </div>
      </div>
    </div>
  </section>

<% endblock %>
