<% set title="Media - MAS Effects" %>
<% set meta_description="Media information for MAS Effects pedals. e.g. logos, pedal graphics, background information, and other press kit type stuff" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Media</h1>
          <h3 class="section-subheading text-muted">Logos, Pedal Graphics, Background information and other press kit type stuff</h3>
        </div>
      </div>
      <div class="row">
        <div class="col small">
          <p>If there's anything you're looking for that you can't find on this page then <a href="/contact">contact me</a> and I'll be happy to help.</p>
          <h3>Overview</h3>
          <p>MAS Effects pedals are proudly built in Illinois (USA) by Mark A. Stratman.</p>
          <p>All pedals come with a <a target="_blank" href="/help/#warranty">lifetime warranty</a>, and a <a target="_blank" href="/help/#returns">liberal return policy</a>. Customers (and window shoppers!) are routinely surprised and delighted at the personal attention they receive and I am committed to preserving this even through continued, rapid growth.</p>

          <h3>MAS Effects Logos</h3>
          <ul>
            <li><a href="/media/mas-effects-black.png">Logo (preferred), black [transparent png]</a> or <a href="/media/mas-effects.svg">[SVG]</a></li>
            <li><a href="/media/mas-effects-white.png">Logo (preferred), white [transparent png]</a></li>
            <li><a href="/media/mas-effects-horizontal-black.png">Horizontal logo, black [transparent png]</a> or <a href="/media/mas-effects-horizontal.svg">[SVG]</a></li>
            <li><a href="/media/mas-effects-horizontal-white.png">Horizontal, logo, white [transparent png]</a></li>
          </ul>

          <h3>Pedal Graphics Files</h3>
          <p>You are obviously welcome to use your own photos, but if you need any...</p>
          <ul>
            <li>
              <!--<a href="/media/mas-effects-sona-fuzz.zip"><strong>Sona Fuzz</strong>: zip of transparent background PNG files</a>-->
              <a href="/contact"><strong>Sona Fuzz</strong>: zip of transparent background PNG files</a>
            </li>
            <li>The Expanse: Coming soon - in the meantime, <a href="/contact">contact</a></li>
            <li>Mimir's Well: <a href="/contact">contact</a></li>
            <li>Trio+ Deluxe True Bypass: <a href="/contact">contact</a></li>
            <li>Tiny Fuzz: Illustrator Series: <a href="/contact">contact</a></li>
            <li>Expression Slider: <a href="/contact">contact</a></li>
            <li>Holiday Ornaments: <a href="/contact">contact</a></li>
          </ul>

          <h3>FAQ</h3>
          <p><strong>Pronunciation?</strong> - 
          I pronounce MAS as "mass" but don't mind "más" (as in "more") either. I inexplicably avoid the initialism, "M. A. S." though, despite it actually being based on initials.
          </p>

        </div>
      </div>
    </div>
  </section>

<% endblock %>
