<% set title="Red Dot Pointer for Omtech Polar and Gweike Cloud Laser Cutters" %>
<% set meta_description="Add a red dot laser to the Omtech Polar laser cutter with this drop-in kit. This beam combiner is custom fabricated to fit perfectly in the Polar and easily taps into its control board." %>
<% set head_jquery=true %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Red Dot for the Omtech Polar Laser Cutter</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <img class="img img-fluid" src="/img/polar/dot3-1200.jpg" alt="Red dot on the Omtech Polar">
        </div>
        <div class="col-12 col-md-6 col-lg-8 small text-center">
          <p class="text-center">
          <!--
            <small>These take considerable time for me to build, so they will ship in batches. Approximate ship time will be shown <a href="https://shop.mas-effects.com/products/red-dot-pointer-for-omtech-polar">on the next page</a>.</small>
          -->
            <br>
            <a href="https://shop.mas-effects.com/products/red-dot-pointer-for-omtech-polar" class="btn btn-lg btn-primary">Buy Now [$139]</a>
          </p>
          <br>

          <a id="show_form" href="#">or sign up for future updates, discounts, etc</a>

          <div style="display:none;" class="text-left" id="signup_form">
            <form data-netlify="true" netlify-honeypot="pooh" method="POST" name="polar_interest">
              <div class="d-none">
                Don't fill this field:
                <input name="pooh" type="text" placeholder="Omit this">
              </div>
              <input type="hidden" name="page" value="waitlist">
              <div class="form-group">
                <label for="polar-email"><strong>Your Email</strong></label>
                <input name="email" id="polar-email" class="form-control"  type="email">
              </div>
              <div class="form-group form-group-textarea mb-md-0">
                <label for="polar-message">Message (optional)</label>
                <textarea name="comments" rows="3" class="form-control form-control-sm" id="polar-message" placeholder="(optional) Questions, comments, feedback?"></textarea>
              </div>
              <button class="btn btn-primary text-uppercase" type="submit">Get Notified</button>
            </form>
          </div>

          <div class="text-left mt-5">
            <h3>Why you need a red dot laser on your Omtech Polar</h3>
            <p>Know <strong><em>exactly</em> where your laser will cut or engrave!</strong> Save material! Prevent mistakes! Avoid headaches!</strong></p>
            <ul>
              <li>Precisely set the origin where your job will start</li>
              <li>"Frame" to see exactly where a job will sit on your material</li>
              <li>"Print and cut" feature to re-cut material</li>
              <li>Easier pass-through operations</li>
              <li>Easier to line up repeated batch jobs</li>
            </ul>
            <p>This works <strong>great alongside the Ruida control panel</strong> (<a href="https://www.youtube.com/watch?v=owkCtAznvDQ&t=0s">learn more in this video</a>), which gives you more capabilities <small>(hardware buttons, extra diagnostics, easier repeat jobs, and more)</small>, and installs with only a single quick extra step while installing the red dot.</p>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="page-section bg-dark">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2  class="text-center section-heading text-uppercase">Learn More</h2>
        </div>
      </div>
      <div class="row">
        <div class="col small text-center my-5">
          <em>[video coming soon]</em>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3 small">
          <a target="_blank" href="/img/polar/assembly1-1200.jpg">
            <img class="img img-fluid" src="/img/polar/assembly1-1200.jpg" alt="Beam combiner for Omtech Polar">
          </a>
        </div>
        <div class="col-6 col-lg-3 small">
          <a target="_blank" href="/img/polar/assembly2-1200.jpg">
            <img class="img img-fluid" src="/img/polar/assembly2-1200.jpg" alt="Beam combiner for Omtech Polar">
          </a>
        </div>
        <div class="col-6 col-lg-3 small">
          <a target="_blank" href="/img/polar/installed-1200.jpg">
            <img class="img img-fluid" src="/img/polar/installed-1200.jpg" alt="Add a red dot to the Omtech Polar with a custom beam combiner">
          </a>
        </div>
        <div class="col-6 col-lg-3 small">
          <a target="_blank" href="/img/polar/dot-1200.jpg">
            <img class="img img-fluid" src="/img/polar/dot-1200.jpg" alt="Red dot site on an Omtech Polar laser">
          </a>
        </div>
      </div>
      <!--
      <div class="row mt-4">
        <div class="col text-center">
          <a href="https://shop.mas-effects.com/products/red-dot-pointer-for-omtech-polar" class="btn btn-sm btn-outline-success">Get One</a>
        </div>
      </div>
      -->

      <div class="row">
        <div class="col-12 small">
          <h3 class="mt-3">Details</h3>
          <p>This kit lets you easily add a red dot laser pointer to your Omtech Polar laser. It features:</p>
          <ul>
            <li><strong>Pre-assembled</strong> beam combiner on a <strong>custom fabricated base</strong>, specially designed to fit in the Omtech Polar</li>
            <li><strong>Red beam is powered by the Polar</strong>, and automatically comes on when you turn on the machine. No switches or plugging/unplugging necessary on an ongoing basis. A customized power connector for the red laser allows it to be powered by the Polar's on-board controller</li>
            <!--
            <li><strong>Red dot laser pre-installed</strong> and aligned <small>(further tweaking may be needed once installed on your machine)</small></li>
            -->
            <li><strong>Cable management:</strong> Cord channel on the beam combiner, and a drag chain ensure the cord stays safely out of the beams</li>
            <li><strong>Guided installation: </strong> You need just a phillips screwdriver, a small flat head screwdriver, a 7mm wrench, and the allen keys that came with your Polar. Installation video walks you through each step.</li>
          </ul>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <a href="https://shop.mas-effects.com/products/red-dot-pointer-for-omtech-polar" class="btn btn-sm btn-outline-success">Get One</a>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-12 small">
          <h2 class="text-center section-heading text-uppercase">Installation</h2>
          <h4>Brief Overview</h4>
          <!--
          <p>
            <a href="#" id="show_instructions">Show written installation guide</a>
          </p>
          -->
          <div id="written_instructions">
            <ol>
              <li>Remove left cover <a href="https://www.youtube.com/watch?v=hGueX-e-aBU&t=114s">(video)</a></li>
              <li>Remove metal cover plate over controller <a href="https://www.youtube.com/watch?v=hGueX-e-aBU&t=240s">(video)</a></li>
              <li>Install red wire into a <em>+5V</em> connector, and black wire into <em>GND</em> <a href="https://youtu.be/hGueX-e-aBU?t=277">(video)</a></li>
              <li>Secure the drag chain to the upper-left corner of the controller cover plate <a href="https://www.youtube.com/watch?v=hGueX-e-aBU&t=475s">(video)</a></li>
              <li>Attach the red beam assembly to the rail next to the second mirror <a href="https://www.youtube.com/watch?v=hGueX-e-aBU&t=573s">(video)</a></li>
              <li>Align the beam by adjusting the nuts on the red dot assembly <a href="https://www.youtube.com/watch?v=hGueX-e-aBU&t=700s">(video)</a></li>
              <li>Reinstall left panel</li>
            </ol>
          </div>

          <h4 class="mt-4">Video: Detailed Step-by-Step</h4>
          <div class="embed-responsive embed-responsive-16by9 text-white" style="background-color: #8f8f8f;">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/hGueX-e-aBU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col small">
          <h2  class="text-center section-heading text-uppercase">FAQ</h2>

          <h4>What tools do I need to install this?</h4>
          <ul>
            <li>the allen keys that came with your Omtech Polar</li>
            <li>a small flat head screwdriver</li>
            <li>phillips screwdriver</li>
            <li>7mm <small>(or adjustable)</small> wrench</li>
          </ul>

          <h4>Can I use this with Gweike Cloud?</h4>
          <p>The assembly will fit perfectly in the Gweike Cloud, but you will need to determine how to power the red dot laser. Your control board may or may not have +5V and GND connectors you can use. If it does, you may need to put a new connector on the end. Alternatively you can wire it up to a USB plug.</p>
          <p>Ideally we'll come up with a Gweike Cloud version of this eventually, but for now it's DIY. <strong>We'd love to hear how you did it</strong> and what version of the machine you have so we can help future customers.</p>
          <p>Newer units are no longer shipping with hard-wired Polar connector pins, but instead have a <strong>female, 2.1mm, center-positive barrel jack</strong> and an adapter cable. You can use any other adapter cable you'd like (search for "<em>2.1mm male barrel jack adapter</em>"), e.g. for USB, a wall wart, ~5V battery, etc.</p>

          <h4>How does it work?</h4>
          <p>The beam combiner uses a special lens that reflects the red laser beam on one side, while allowing the CO2 laser beam to pass through, effectively combining them.</p>

          <h4>How does this compare to alternatives?</h4>
          <p>There are two other ways people have added a red dot to the Polar:</p>
          <ul>
            <li>A battery powered cat toy laser on a card that you stick in front of the 2nd mirror.
              <ul>
                <li><strong>Pros:</strong> Inexpensive</li>
                <li><strong>Cons:</strong> Must be inserted and removed with each and every cut (and can start a fire if you forget to remove it). 
                  <br>Not permanent.
                  <br>Can't be precisely aligned.
                </li>
              </ul>
            </li>
            <li>
              Clip-on red dot laser, attached to the head of the laser
              <ul>
                <li><strong>Pros:</strong> Possibly less expensive</li>
                <li><strong>Cons:</strong> Mis-aligns when you change focus.
                  <br>Needs frequent adjustments. Very finicky.
                  <br>May bang into walls of the machine if not careful
                  <br>Cable management is more complicated, or battery power requires you to turn it off and on, and replace batteries frequently.
                  <br>Cannot use cover over laser head
                </li>
              </ul>
            </li>
            <li>
              This product: the MAS Effects red dot <strong>beam combiner (The only beam combiner that fits the Polar)</strong>
              <ul>
                <li><strong>Pros:</strong> Permanent fixture in your Polar
                  <br>Set-and-forget alignment. No realignment necessary
                  <br>Extremely high accuracy
                  <br>Much simpler cable routing and installation than clip-on lasers
                  <br>Does not interfere with the movement of the laser head
                  <br>Can be used with the laser head cover
                </li>
                <li><strong>Cons:</strong> More expensive than some alternatives</li>
              </ul>
          </ul>
              


          <h4>What is it made of?</h4>
          <p>The laser mount, lens aperature, and back-scatter plate are made of aluminum. The base plate is made of PETG plastic.</p>

          <h4>Why is the drag chain sideways?</h4>
          <p>The drag chain is simply meant to weigh down the cable and keep it out of the way of the laser beams. There isn't sufficient room in the machine to install the drag chain in a conventional way.</p>

          <h4>More questions?</h4>
          <p><a href="/contact">Contact me with any other questions or feedback</a>. Thanks!</p>

        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <a href="https://shop.mas-effects.com/products/red-dot-pointer-for-omtech-polar" class="btn btn-sm btn-outline-success">Get One</a>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section bordered bg-light">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2 class="section-heading text-uppercase">Reviews</h2>
          <p><em><small>These are just a few. <a href="https://shop.mas-effects.com/products/red-dot-pointer-for-omtech-polar#rapid_reviews_items">See them all in our shop</a></small></em></p>
          <div class="card-group">

            <div class="review card">
              <div class="card-body">
                <h5 class="card-title">
                  Must have Omtech Polar upgrade
                </h5>
                <div class="stars">
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                </div>
                <p class="card-text">
                  I couldn't be happier with the result and, consider it a "must have" upgrade to any Polar.
                  <br><br>
                  I have spent a lot of time researching upgrades for my new Polar Omtech machine. Until I came across the red dot option from Mas Effects, I couldn't really find any solutions that didn't require doing going way too far into the guts of my machine to be comfortable.
                  <br><br>
This solution didn't require touching my laser tube, mirrors, etc, Basically, it...
                  <br>
                  <a class="" href="https://shop.mas-effects.com/products/red-dot-pointer-for-omtech-polar#rapid_reviews_items">[read more]</a>
                </p>
                <p class="review-author">
                  --
                  Richard
                  <i class="fas fa-certificate verified" title="Verified"></i>
                </p>
              </div>
            </div>

            <div class="review card">
              <div class="card-body">
                <h5 class="card-title">
                  Great little laser
                </h5>
                <div class="stars">
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                </div>
                <p class="card-text">
                  This little laser is a game changer! If you don't have one yet for your Omtech or Gweike, do yourself a favor and get one!
                </p>
                <p class="review-author">
                  --
                  Patrick
                  <i class="fas fa-certificate verified" title="Verified"></i>
                </p>
              </div>
            </div>

            <div class="review card">
              <div class="card-body">
                <h5 class="card-title">
                  Works for the Gweike Cloud
                </h5>
                <div class="stars">
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                </div>
                <p class="card-text">
                  I purchased the DC/USB cable recommended and it works like a charm. No issues with installing. My GC has an additional hole in the back so I just fed the cable out feom there. SO happy with this mod!
                </p>
                <p class="review-author">
                  --
                  Noreen
                  <i class="fas fa-certificate verified" title="Verified"></i>
                </p>
              </div>
            </div>
            <div class="review card">
              <div class="card-body">
                <h5 class="card-title">
                  One of the best upgrades to make to the Omtech Polar CO2 laser
                </h5>
                <div class="stars">
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                </div>
                <p class="card-text">
                  This is one my best upgrades to the Omtech Polar laser. It makes a world of difference when trying to line up an engrave with an item. The camera does good to get you somewhere within hand grenade range, but with the red dot you are dead on the spot. Really useful for smaller items.
                </p>
                <p class="review-author">
                  --
                  Eric N.
                  <i class="fas fa-certificate verified" title="Verified"></i>
                </p>
              </div>
            </div>

            <div class="review card">
              <div class="card-body">
                <h5 class="card-title">
                  Great upgrade! Just what I wanted
                </h5>
                <div class="stars">
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                </div>
                <p class="card-text">
                  I jumped on this when I saw his Facebook post, and it was as simple to install as advertise. I personally have not set up the camera on my laser so getting the precision of a laser was more my speed, installation was a breeze, it took me as long as it did to install because I re watched the instructional video over and over, triple checking my work. Highly recommend
                </p>
                <p class="review-author">
                  --
                  Victor S.
                  <i class="fas fa-certificate verified" title="Verified"></i>
                </p>
              </div>
            </div>
            <div class="review card">
              <div class="card-body">
                <h5 class="card-title">
                  Works great!
                </h5>
                <div class="stars">
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                </div>
                <p class="card-text">
                  I love this red dot pointer! It was easy to install, instructions were clear and easy to follow. Thank you!
                </p>
                <p class="review-author">
                  --
                  Dawn R.
                  <i class="fas fa-certificate verified" title="Verified"></i>
                </p>
              </div>
            </div>
            <div class="review card">
              <div class="card-body">
                <h5 class="card-title">
                  Excellent product
                </h5>
                <div class="stars">
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                  <i class="review-star fas fa-star"></i>
                </div>
                <p class="card-text">
                  I can't say enough wonderful things about this red dot. It should be included as factory equipped. It was easy to install and has completely improved productivity
                </p>
                <p class="review-author">
                  --
                  Charles K.
                  <i class="fas fa-certificate verified" title="Verified"></i>
                </p>
              </div>
            </div>

          </div>
        </div>
      </div>


      <div class="row">
        <div class="col text-center my-3">
          <a class="btn btn-outline-primary" href="https://shop.mas-effects.com/products/red-dot-pointer-for-omtech-polar#rapid_reviews_items">Read More</a>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#show_form").click(function(evt) {
        evt.preventDefault();
        $("#signup_form").show();
      });
      $("#show_instructions").click(function(evt) {
        evt.preventDefault();
        $("#written_instructions").show();
      });
    });
  </script>

<% endblock %>
