<% set title="Red Dot Pointer for Omtech Polar and Gweike Cloud Laser Cutters" %>
<% set meta_description="Add a red dot laser to the Omtech Polar laser cutter with this drop-in kit. This beam combiner is custom fabricated to fit perfectly in the Polar and easily taps into its control board." %>
<% set head_jquery=true %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Red Dot for the Omtech Polar Laser Cutter</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4">
          <img class="img img-fluid" src="/img/polar/dot3-1200.jpg">
        </div>
        <div class="col-12 col-md-6 col-lg-8 small text-center">
          <p class="text-center">
            <small>These take considerable time to build, so they will ship in batches. Approximate ship time will be shown <a href="https://shop.mas-effects.com/products/red-dot-pointer-for-omtech-polar">on the next page</a>.</small>
            <br>
            <a href="https://shop.mas-effects.com/products/red-dot-pointer-for-omtech-polar" class="btn btn-lg btn-primary">Buy Now [$119]</a>
          </p>
          <br>

          <a id="show_form" href="#">or sign up for future updates, discounts, etc</a>

          <div style="display:none;" class="text-left" id="signup_form">
            <form data-netlify="true" netlify-honeypot="pooh" method="POST" name="polar_interest">
              <div class="d-none">
                Don't fill this field:
                <input name="pooh" type="text" placeholder="Omit this">
              </div>
              <input type="hidden" name="page" value="waitlist">
              <div class="form-group">
                <label for="polar-email"><strong>Your Email</strong></label>
                <input name="email" id="polar-email" class="form-control"  type="email">
              </div>
              <div class="form-group form-group-textarea mb-md-0">
                <label for="polar-message">Message (optional)</label>
                <textarea name="comments" rows="3" class="form-control form-control-sm" id="polar-message" placeholder="(optional) Questions, comments, feedback?"></textarea>
              </div>
              <button class="btn btn-primary text-uppercase" type="submit">Get Notified</button>
            </form>
          </div>

          <div class="text-left mt-5">
            <h3>Great for...</h3>
            <ul>
              <li>"Frame" to see exactly where a job will sit on your material</li>
              <li>"Print and cut" feature to re-cut material</li>
              <li>Easier pass-through operations</li>
              <li>Easier to line up repeated batch jobs</li>
            </ul>
          </div>

        </div>
      </div>

    </div>
  </section>

  <section class="page-section bg-dark">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2  class="text-center section-heading text-uppercase">Learn More</h2>
        </div>
      </div>
      <div class="row">
        <div class="col small text-center my-5">
          <em>[video coming soon]</em>
        </div>
      </div>
      <div class="row">
        <div class="col-6 col-lg-3 small">
          <a target="_blank" href="/img/polar/assembly1-1200.jpg">
            <img class="img img-fluid" src="/img/polar/assembly1-1200.jpg">
          </a>
        </div>
        <div class="col-6 col-lg-3 small">
          <a target="_blank" href="/img/polar/assembly2-1200.jpg">
            <img class="img img-fluid" src="/img/polar/assembly2-1200.jpg">
          </a>
        </div>
        <div class="col-6 col-lg-3 small">
          <a target="_blank" href="/img/polar/installed-1200.jpg">
            <img class="img img-fluid" src="/img/polar/installed-1200.jpg">
          </a>
        </div>
        <div class="col-6 col-lg-3 small">
          <a target="_blank" href="/img/polar/dot-1200.jpg">
            <img class="img img-fluid" src="/img/polar/dot-1200.jpg">
          </a>
        </div>
      </div>
      <!--
      <div class="row mt-4">
        <div class="col text-center">
          <a href="https://shop.mas-effects.com/products/red-dot-pointer-for-omtech-polar" class="btn btn-sm btn-outline-success">Get One</a>
        </div>
      </div>
      -->

      <div class="row">
        <div class="col-12 small">
          <h3 class="mt-3">Details</h3>
          <p>This kit contains lets you easily add a red dot laser pointer to your Omtech Polar laser. It features and includes:</p>
          <ul>
            <li><strong>Pre-assembled</strong> beam combiner on a <strong>custom fabricated base</strong>, specially designed to fit in the Omtech Polar</li>
            <li><strong>Red beam is powered by the Polar</strong>, and automatically comes on when you turn on the machine. No switches or plugging/unplugging necessary on an ongoing basis. A customized power connector for the red laser allows it to be powered by the Polar's on-board controller</li>
            <!--
            <li><strong>Red dot laser pre-installed</strong> and aligned <small>(further tweaking may be needed once installed on your machine)</small></li>
            -->
            <li><strong>Cable management:</strong> Cord channel on the beam combiner, and a drag chain ensure the cord stays safely out of the beams</li>
            <li><strong>Guided installation: </strong> You need just a phillips screwdriver, a small flat head screwdriver, a 7mm wrench, and the allen keys that came with your Polar. Installation video walks you through each step.</li>
          </ul>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <a href="https://shop.mas-effects.com/products/red-dot-pointer-for-omtech-polar" class="btn btn-sm btn-outline-success">Get One</a>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col-12 small">
          <h2 class="text-center section-heading text-uppercase">Installation</h2>
          <h4>Brief Overview</h4>
          <!--
          <p>
            <a href="#" id="show_instructions">Show written installation guide</a>
          </p>
          -->
          <div id="written_instructions">
            <ol>
              <li>Remove left panel <a href="https://www.youtube.com/watch?v=hGueX-e-aBU&t=114s">(video)</a></li>
              <li>Remove panel over controller <a href="https://www.youtube.com/watch?v=hGueX-e-aBU&t=240s">(video)</a></li>
              <li>Install red wire into a <em>+5V</em> connector, and black wire into <em>GND</em> <a href="https://youtu.be/hGueX-e-aBU?t=277">(video)</a></li>
              <li>Secure the drag chain to the upper-left corner of the controller cover plate <a href="https://www.youtube.com/watch?v=hGueX-e-aBU&t=475s">(video)</a></li>
              <li>Attach the red beam assembly to the rail next to the second mirror <a href="https://www.youtube.com/watch?v=hGueX-e-aBU&t=573s">(video)</a></li>
              <li>Align the beam by adjusting the nuts on the red dot assembly <a href="https://www.youtube.com/watch?v=hGueX-e-aBU&t=700s">(video)</a></li>
              <li>Reinstall left panel</li>
            </ol>
          </div>

          <h4 class="mt-4">Video: Detailed Step-by-Step</h4>
          <div class="embed-responsive embed-responsive-16by9 text-white" style="background-color: #8f8f8f;">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/hGueX-e-aBU" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>



  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col small">
          <h2  class="text-center section-heading text-uppercase">FAQ</h2>

          <h4>What tools do I need to install this?</h4>
          <ul>
            <li>the allen keys that came with your Omtech Polar</li>
            <li>a small flat head screwdriver</li>
            <li>phillips screwdriver</li>
            <li>7mm <small>(or adjustable)</small> wrench</li>
          </ul>

          <h4>Can I use this with Gweike Cloud?</h4>
          <p>The assembly will fit perfectly in the Gweike Cloud, but you will need to determine how to power the red dot laser. Your control board may or may not have +5V and GND connectors you can use. If it does, you may need to put a new connector on the end. Alternatively you can wire it up to a USB plug.</p>
          <p>Ideally we'll come up with a Gweike Cloud version of this eventually, but for now it's DIY. <strong>We'd love to hear how you did it</strong> and what version of the machine you have so we can help future customers.</p>


          <h4>How does it work?</h4>
          <p>The beam combiner uses a special lens that reflects the red laser beam on one side, while allowing the CO2 laser beam to pass through, effectively combining them.</p>

          <h4>What is it made of?</h4>
          <p>The laser mount, lens aperature, and back-scatter plate are made of aluminum. The base plate is made of PETG plastic.</p>

          <h4>More questions?</h4>
          <p><a href="/contact">Contact me with any other questions or feedback</a>. Thanks!</p>

        </div>
      </div>
      <div class="row mt-4">
        <div class="col text-center">
          <a href="https://shop.mas-effects.com/products/red-dot-pointer-for-omtech-polar" class="btn btn-sm btn-outline-success">Get One</a>
        </div>
      </div>
    </div>
  </section>

  <script type="text/javascript">
    $(document).ready(function() {
      $("#show_form").click(function(evt) {
        evt.preventDefault();
        $("#signup_form").show();
      });
      $("#show_instructions").click(function(evt) {
        evt.preventDefault();
        $("#written_instructions").show();
      });
    });
  </script>

<% endblock %>
