<% set title="Soldering Practice Kit for DIY Guitar Pedals" %>
<% set meta_description="Learn to solder on this practice kit before attempting a costly DIY guitar pedal kit. Perfect your skills and learn to spot bad solder joints." %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Soldering Practice Kit</h1>
          <h2>More Info Coming Soon...</h2>
          <p>You can <a href="https://shop.mas-effects.com/collections/diy/products/soldering-practice-kit-3-led-flashlight" target="_blank">buy the practice kit in our shop here</a>. A <a href="https://drive.google.com/file/d/1cPJp2muYnH6gKekzJFmHwvv6OD0E3CZj/view?usp=sharing" target="_blank">draft of the documentation is available here</a>.
          </p>
          <p>An interactive online course, with video, will be available in the future (with the launch of our <a href="https://maseffects.substack.com/p/why-the-world-needs-another-pedal-kit" target="_blank">Beginner Pedal Kit</a>)</p>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
