<% set title="Digitally Controller Relay Kit for DIY guitar pedals, amps, and other electronics" %>
<% set meta_description="This relay module for DIY Guitar Pedals and amps gives you soft touch with mute, hold to temporarily enable or disable, and more. It's a tiny 1590A-friendly design that's packed full of features." %>
<% set og_image="https://mas-effects.com/img/digital-relay-switch/digital-relay-kit-reduced.png" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Digital Relay Switch</h1>
          <h3 class="section-subheading text-muted">Remotely switch 2+ poles... Hold to temporarily engage/bypass... Tiny 1590A footprint... and more</h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-4">
          <a href="/img/digital-relay-switch/digital-relay-kit.png" target="_blank">
            <img class="img-fluid" src="/img/digital-relay-switch/digital-relay-kit-reduced.png" alt="Relay kit for DIY guitar pedals, amps,and other electronics" />
          </a>
        </div>
        <div class="col-sm-8">
          <p>Typical latching mechanical switches are noisy, hard to press, and prone to mechanical failure after repeated use. A controller board with a relay is a great alternative, and provides some other really great options you couldn't otherwise do.</p>
          <p>This tiny and featureful relay board can do a LOT.</p>
          <ul>
            <li><strong>Soft touch</strong>, momentary switches can toggle your DIY guitar pedal, using a relay to provide <strong>true bypass</strong>.</li>
            <li><strong>Remembers</strong> whether your effect is bypassed or engaged, and next time you power up the pedal it will recall this setting. You can change to auto-on or auto-off by holding the switch while powering on.</li>
            <li><strong>Quick tap to switch</strong> between engaged and bypass, or <strong>hold the footswitch to temporarily toggle</strong> until you release it</li>
            <li>Fits easily in a tiny <strong>1590A</strong> enclosure</li>
            <li>VERY cost effective.
              <a target="_blank" href="https://shop.mas-effects.com/products/relay-switch-with-digital-controller">Shop now</a>
            </li>
          </ul>
          <p><a target="_blank" class="btn btn-primary btn-lg btn-block" href="https://shop.mas-effects.com/products/relay-switch-with-digital-controller">Buy Now</a></p>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a class="btn btn-success" href="/digital-relay-switch.pdf" target="_blank">Build Documentation</a>
        </div>
      </div>

      <div class="row mt-4">
        <div class="col">
          <h3>Need True Bypass?</h3>
          <p>We have <a href="/relay-bypass">a specialized kit specifically for true bypass pedal switching</a>. It automatically connects your board's input to GND when bypassed, and simplifies wiring with specific, applicable labels on the solder pads.</p>
          <p>You <em>can use this general-purpose</em> switching module for true bypass, we just think the other is easier.</p>

          <h3>More Details...</h3>
          <p> Switch ANYTHING, not just pedal bypass.</p>

          <p>Six pads give let you tap into the two switches of the DPDT relay, which you can control from anywhere with 2 wires leading to your momentary button or switch (normally-open). Need more than 2 switches? Use multiple kits with the same button or footswitch.</p>

          <p>Powered by 6-12V. Switched signals are isolated from the power, so you can have noise-free operation.</p>

          <p>Two LED pads let you control 2 LEDs (or a single common-cathode bi-color LED). Each pad can power a single LED with its 5V signal, or you can use them to control external transistors (not included) to drive bigger loads.</p>

          <p>Complete kit includes PCB with pre-soldered SMD components. You just solder the included microcontroller and relay. Bring your own button or switch (not included by default), or add one here.</p>
          <p style="text-center">
            <a class="btn btn-primary" href="https://shop.mas-effects.com/products/relay-switch-with-digital-controller">Buy Now</a>
            <a class="btn btn-success" href="/digital-relay-switch.pdf">Documentation</a>
          </p>

        </div>
      </div>
    </div>
  </section>

<% endblock %>
