<% set title="Relay Bypass for DIY Guitar Pedals - soft touch with mute, hold, and more" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Relay Bypass</h1>
          <h3 class="section-subheading text-muted">True bypass... Hold to temporarily engage/bypass... Tiny 1590A footprint... Optocoupler muting</h3>
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-4">
          <a href="/img/diy/relay.jpg" target="_blank">
            <img class="img-fluid" src="/img/diy/relay-reduced.jpg" alt="Relay bypass for DIY guitar pedals" />
          </a>
        </div>
        <div class="col">
          <p>This tiny and featureful relay bypass board can do a LOT.</p>
          <ul>
            <li>Soft touch, momentary switches can toggle your DIY guitar pedal, using a relay to provide true bypass.</li>
            <li>Quick tap to switch between engaged and bypass, or hold the footswitch down to temporarily toggle until you release it</li>
            <li>Fits easily in a 1590A</li>
            <li>Optional optocoupler muting can be enabled with a switch or jumper to mute any popping your circuit might exhibit while switching</li>
            <li>Hold when powering on to toggle auto-on/auto-off</li>
            <li>VERY cost effective. Shop now.</li>
            <li>Or for extreme DIY'ers, it's totally <a target="_blank" href="https://github.com/mstratman/relay-bypass">free and open source</a></li>
          </ul>
          <p><strong><em>Coming Soon...</em></strong> <a href="/#signup-section">Get Notified when there's an update</a></p>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
