<% set title="Sona Fuzz - High Gain Fuzz pedal by MAS Effects" %>
<% set meta_description="Sona Fuzz is a high gain fuzz pedal with a touch of class for your guitar or bass pedal board. " %>


<# TODO: FIX THIS #>
<% set og_image="https://mas-effects.com/img/sona/sona-fuzz-3pack.jpg" %>


<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-2 section-heading text-uppercase">Sona Fuzz</h1>
          <h3 class="section-subheading text-muted mb-3">Extreme, High Gain Fuzz Pedal with a Touch of Class</h3>
        </div>

      </div>
      <div class="row">
        <div class="col text-center">
          <a href="https://shop.mas-effects.com/products/sona-fuzz">
            <img class="lazy img-fluid" src="/img/sona/sona-fuzz-3pack-placeholder.jpg" data-src="/img/sona/sona-fuzz-3pack.jpg" alt="Sona Fuzz pedal by MAS Effects" />
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <p><small>This Tone Queen gives you incredible tonal control with a switch to adjust the input filter, and a knob to pan between high and low pass filters on the output.</small></p>
        </div>
      </div>
      <div class="row">
        <div class="col text-center">
          <a class="btn btn-primary btn-lg" href="https://shop.mas-effects.com/products/sona-fuzz">Shop Now</a>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section small mt-0 pt-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="anchor" id="demos"></a>
          <h2>Demos</h2>
        </div>
      </div>
      <div class="row">

        <div class="col-md-6 col-lg-4 col-12 text-center">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/DZPqqRPHv90" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p>
            <a href="https://www.youtube.com/watch?v=DZPqqRPHv90" target="_blank">AndyDemos (Andy Martin)</a>
          </p>
        </div>

        <div class="col-md-6 col-lg-4 col-12 text-center">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/ddNKe7W-XY0" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p>
          <a href="https://www.youtube.com/watch?v=ddNKe7W-XY0" target="_blank">Demos in the Dark</a> (includes <strong>bass demo</strong>)
          </p>
        </div>

        <div class="col-md-6 col-lg-4 col-12 text-center">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/60ZVEHYOGYo" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p>
            <a href="https://www.youtube.com/watch?v=60ZVEHYOGYo" target="_blank">Megan L</a>
          </p>
        </div>

        <div class="col-md-6 col-lg-4 col-12 text-center">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/IjyOQQEPqjY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p>
            <a href="https://www.youtube.com/watch?v=IjyOQQEPqjY" target="_blank">Jay Leonard J</a>
          </p>
        </div>

        <div class="col-md-6 col-lg-4 col-12 text-center">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/FvxL-y7GVig" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p>
            <a href="https://www.youtube.com/watch?v=FvxL-y7GVig" target="_blank">R.J. Ronquillo</a>
          </p>
        </div>

        <div class="col-md-6 col-lg-4 col-12 text-center">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/G4OesocQysY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p>
            <a href="https://www.youtube.com/watch?v=G4OesocQysY" target="_blank">Mike Hermans</a>
          </p>
        </div>

      </div>
    </div>
  </section>

  <section class="page-section small">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Controls</h2>
          <dl class="controls">
            <dt><strong>Fuzz</strong></dt>
            <dd>Sets the amount of gain, distortion, fuzz, sustain, or whatever you want to call it.
              Like with most fuzz pedals, it will interact with the volume knob of your guitar. e.g. roll back the guitar volume at low FUZZ levels to clean up the signal considerably.
            </dd>

            <dt><strong>Volume</strong></dt>
            <dd>Controls the overall output of the pedal.</dd>

            <dt><strong>Tone</strong></dt>
            <dd>Pans between cutting highs or lows.</dd>

            <dt><strong>Body Switch</strong></dt>
            <dd>Fattens or thins out the signal going into the pedal.</dd>

            <dt><strong>Soft-touch Foot Switch</strong></dt>
            <dd>
              <em>Tap</em> to switch between true bypass and engaged;
              <em>Hold</em> to temporarily bypass when engaged, or temporarily engage while bypassed. 
              <br>
              <em>Hold while connecting power</em> to toggle whether the pedal will be engaged or bypassed whenever it's powered on.
            </dd>
          </dl>
          <h3 class="h5 pt-5"><em>Internal Controls</em></h3>
          <dl class="controls">
            <dt><strong>FUZZ Ceiling</strong></dt>
            <dd>Need MORE gain? This pedal has insane amounts of gain on tap, but a lot of people expect to be able to turn the knobs any which way (and all the way up) and have it sound great. This isn't unreasonable, but it's limiting. If you max out the gain, the pedal gets really noisy! So inside, on the lower right, is a blue and white trimmer that tames it.</dd>
            <dt><strong>Bias</strong></dt>
            <dd>Can be adjusted to give a gated, sputtery sound.</dd>
          </dl>
        </div>
      </div>

    </div>
  </section>

  <section class="page-section small mt-0 pt-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="anchor" id="techspecs"></a>
          <h2>Technical Specificiations</h2>
          <dl>
            <dt><strong>Jack placement</strong></dt>
            <dd>Top-mounted</dd>

            <dt><strong>Power supply</strong></dt>
            <dd>9V DC, 2.1mm center negative (not included).
              <br>
              No internal battery clip.</dd>

            <dt><strong>Power consumption</strong></dt>
            <dd>19mA</dd>

            <!--
            <dt><strong>Input impedance</strong></dt>
            <dd><em>coming soon</em></dd>

            <dt><strong>Output impedance</strong></dt>
            <dd><em>coming soon</em></dd>
            -->

            <dt><strong>Bypass</strong></dt>
            <dd>Relay switched true bypass</dd>
          </dl>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section small mt-0 pt-0">
    <div class="container">
      <div class="row">
        <div class="col">
          <a class="anchor" id="credits"></a>
          <h2>Credits</h2>
          <p>
          The fuzz circuit this pedal is based on is one that's been floating and evolving in the DIY community for a very long time. Its exact evolution isn't precisely clear, but the primary contributers are:
          </p>
          <ul>
            <li>Doug Hammond</li>
            <li>Gus Smalley</li>
            <li>Aron Nelson</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section  mt-0 pt-0">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <a class="btn btn-primary btn-lg" href="https://shop.mas-effects.com/products/sona-fuzz">Shop Now</a>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
