<% set title="MAS Effects Star PCB - Swag" %>
<% set meta_description="Did you get a star PCB with your order and not sure what to do with it? Here you'll find the build instructions and more." %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Star PCB - MAS Effects</h1>
          <h3 class="section-subheading text-muted">Got this with your order and not sure what to do with it?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-md-4">
          <a href="/img/diy/star.jpg" target="_blank">
            <img class="img-fluid" src="/img/diy/star.jpg" alt="MAS Effects Star PCB" />
          </a>
        </div>
        <div class="col-md-8">
          <p>Did you get a cool little star circuit board with your order? Not sure what to do with it? Check out <a href="/star.pdf" target="_blank">the build document</a>.</p>
          <a class="btn btn-success" href="/star.pdf" target="_blank">Build Documentation</a>
        </div>
      </div>
      <div class="row">
        <div class="col">
        </div>
      </div>
    </div>
  </section>

<% endblock %>
