<% set title="Tiny Fuzz: Illustrator Series - Guitar and Bass Fuzz Pedal by MAS Effects" %>
<% set meta_description="The perfect blend of huge sound, beautiful artwork, and extreme affordability ($59!!!) - this fuzz pedal trims the fat and delivers what matters" %>
<% set og_image="https://mas-effects.com/img/all-tiny-fuzz2.jpg" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section bg-dark text-white fuzz-illustrator-masthead">
    <div class="container">
      <div class="row">
        <div class="col text-center mt-3">
          <h1 class="text-uppercase">Tiny Fuzz: Illustrator Series</h2>
          <div class="intro-lead-in">Gorgeous... huge-sounding... handmade... affordable
</div>
          <div class="mt-5 text-center">
            <a target="_blank" href="https://shop.mas-effects.com/collections/tiny-fuzz" class="btn btn-xl btn-primary">Shop In-Stock [$59-69]</a>
            <a  href="/fuzz-builder/" class="btn btn-xl btn-primary mt-1 mt-md-0">Custom Built [$75+]</a>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row text-center">
        <div class="col-12 col-md-4">
          <a href="#listen">
            <span class="fa-stack fa-1x">
              <i class="fas fa-circle fa-stack-2x text-primary"></i>
              <i class="fas fa-volume-up fa-stack-1x fa-inverse"></i>
            </span>
          </a>
          <h4 class="service-heading">Sweet, Sweet, Fuzz</h4>
          <p class="text-center small">
          Watch the demo videos below.
          </p>
          <p class="text-center small">
          <a href="#faq-sound">About the audio circuit...</a>
          </p>
        </div>
        <div class="col-12 col-md-4">
          <span class="fa-stack fa-1x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-dollar-sign fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Ridiculously Affordable ($59)</h4>
          <p class="text-center small">
            <a href="#faq-price">
              How is this so inexpensive?
            </a>
          </p>
        </div>
        <div class="col-12 col-md-4">
          <span class="fa-stack fa-1x">
            <i class="fas fa-circle fa-stack-2x text-primary"></i>
            <i class="fas fa-heart fa-stack-1x fa-inverse"></i>
          </span>
          <h4 class="service-heading">Made With Love</h4>
          <p class="text-center small">
            <a href="#faq-love">About the small business and independent illustrators...</a>
          </p>
        </div>
      </div>

    </div>
  </section>

  <a  id="listen" class="anchor"></a>
  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="section-heading text-uppercase text-center">Look &amp; Listen</h2>
        </div>
      </div>

      <div class="row mb-3">
        <div class="col-12 col-md-8 offset-md-2 col-lg-6 offset-lg-3 text-center">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/EvHTey0wVfY" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p>
          Demo by <a href="https://www.youtube.com/channel/UCKHxdoOwuM7fCv8G3ynuXHg" target="_blank">Everyday Guitarist</a>
          </p>
        </div>
      </div>

      <div class="row">
        <div class="col-md-4 col-12 text-center">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/os9I_sUanOc" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p>
          Guitar &amp; Bass demo by <a href="https://www.youtube.com/channel/UC4DNtiCLQzcPs4CdP5BKp8Q" target="_blank">Justus Gash</a>
          </p>

        </div>
        <div class="col-md-4 col-12">
          <a target="_blank" href="/img/all-tiny-fuzz-large.jpg">
            <img class="lazy img-fluid" src="/img/all-tiny-fuzz2-placeholder.jpg" data-src="/img/all-tiny-fuzz2.jpg" alt="Tiny Fuzz: Illustrator Series" />
          </a>
        </div>
        <div class="col-md-4 col-12 text-center">
          <div class="embed-responsive embed-responsive-16by9">
            <iframe  class="embed-responsive-item" src="https://www.youtube.com/embed/qMrF0Hk8Smk?start=130" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
          </div>
          <p>
            Demo by <a href="https://www.youtube.com/c/GetOffset" target="_blank">Emily @ Get Offset</a>
          </p>
        </div>
      </div>
    </div>
  </section>


  <%
  set sections = [
    { artist: 'Kailey Reid',
      ig: 'kaileyreidillustration',
      pedals: [
        {
          title: 'Hiding Fear',
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-hiding-fear',
          builder_link: '/fuzz-builder/?sticker=monster&pg=2',
          img: '/img/illustrator-series/hiding-fear.jpg',
          img_placeholder: '/img/illustrator-series/hiding-fear-placeholder.jpg',
          upgrade: 'glowing eyes'
        }
      ]
    },
    {
      artist: 'David Slebodnick',
      ig: 'daviddrawsdrawings',
      pedals: [
        {
          title: 'Drunk Dead Spaceman',
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-drunk-dead-spaceman',
          builder_link: '/fuzz-builder/?sticker=spaceman&pg=2',
          img: '/img/illustrator-series/spaceman.jpg',
          img_placeholder: '/img/illustrator-series/spaceman-placeholder.jpg',
          upgrade: 'glowing eyes'
        }
      ]
    },
    {
      artist: 'Matt Dixon',
      ig: 'mattdixonart',
      pedals: [
        {
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-divinity',
          builder_link: '/fuzz-builder/?sticker=divinity&pg=2',
          img: '/img/illustrator-series/divinity.jpg',
          img_placeholder: '/img/illustrator-series/divinity-placeholder.jpg',
          title: 'Divinity'
        },
        {
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-full-fathom-five',
          builder_link: '/fuzz-builder/?sticker=fathom&pg=2',
          img: '/img/illustrator-series/full-fathom-five.jpg',
          img_placeholder: '/img/illustrator-series/full-fathom-five-placeholder.jpg',
          title: 'Full Fathom Five',
          upgrade: 'glowing antenna'
        },
        {
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-charging',
          builder_link: '/fuzz-builder/?sticker=charging&pg=2',
          img: '/img/illustrator-series/charging.jpg',
          img_placeholder: '/img/illustrator-series/charging-placeholder.jpg',
          title: 'Charging'
        }
      ]
    },
    {
      artist:  'Justin Estcourt',
      ig: 'jetsyart',
      pedals: [
        {
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-saturn-rise',
          builder_link: '/fuzz-builder/?sticker=saturn&pg=2',
          img: '/img/illustrator-series/saturn-rise.jpg',
          img_placeholder: '/img/illustrator-series/saturn-rise-placeholder.jpg',
          title: 'Saturn Rise'
        },
        {
          store_link: 'https://shop.mas-effects.com/products/tiny-fuzz-isolation',
          builder_link: '/fuzz-builder/?sticker=isolation&pg=2',
          img: '/img/illustrator-series/isolation.jpg',
          img_placeholder: '/img/illustrator-series/isolation-placeholder.jpg',
          title: 'Isolation',
          upgrade: 'glowing staff'
        },
        {
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-until-the-end',
          builder_link: '/fuzz-builder/?sticker=comet&pg=2',
          img: '/img/illustrator-series/until-the-end.jpg',
          img_placeholder: '/img/illustrator-series/until-the-end-placeholder.jpg',
          title: 'Until the End',
          upgrade: 'comet LED'
        }
      ]
    },
    {
      artist:  'Louis Picard',
      ig: 'louispicard.art',
      pedals: [
        {
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-the-lost-ones-08',
          builder_link: '/fuzz-builder/?sticker=lost8&pg=2',
          img: '/img/illustrator-series/lost-ones-08.jpg',
          img_placeholder: '/img/illustrator-series/lost-ones-08-placeholder.jpg',
          title: 'The Lost Ones 08'
        },
        {
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-the-lost-ones-06',
          builder_link: '/fuzz-builder/?sticker=lost6&pg=2',
          img: '/img/illustrator-series/lost-ones-06.jpg',
          img_placeholder: '/img/illustrator-series/lost-ones-06-placeholder.jpg',
          title: 'The Lost Ones 06'
        },
        {
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-the-lost-ones-03',
          builder_link: '/fuzz-builder/?sticker=lost3&pg=2',
          img: '/img/illustrator-series/lost-ones-03.jpg',
          img_placeholder: '/img/illustrator-series/lost-ones-03-placeholder.jpg',
          title: 'The Lost Ones 03'
        }
      ]
    },
    {
      artist:  'Milky Stout',
      ig: 'milkystout',
      pedals: [
        {
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-spirits',
          builder_link: '/fuzz-builder/?sticker=spirits&pg=2',
          img: '/img/illustrator-series/spirits.jpg',
          img_placeholder: '/img/illustrator-series/spirits-placeholder.jpg',
          title: 'Spirits'
        }
      ]
    },
    {
      artist: 'Cam Ojeda',
      ig: 'camtronart',
      pedals: [
        {
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-rocket',
          builder_link: '/fuzz-builder/?sticker=rocket&pg=2',
          img: '/img/illustrator-series/rocket.jpg',
          img_placeholder: '/img/illustrator-series/rocket-placeholder.jpg',
          title: 'Rocket'
        }
      ]
    },
    {
      artist:  'MottsyMakes',
      ig: 'mottsymakes',
      pedals: [
        {
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-devils-avocado',
          builder_link: '/fuzz-builder/?sticker=avocado&pg=2',
          img: '/img/illustrator-series/avocado.jpg',
          img_placeholder: '/img/illustrator-series/avocado-placeholder.jpg',
          title: "Devil's Avocado"
        },
        {
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-kiwi',
          builder_link: '/fuzz-builder/?sticker=kiwi&pg=2',
          img: '/img/illustrator-series/kiwi.jpg',
          img_placeholder: '/img/illustrator-series/kiwi-placeholder.jpg',
          title: "Kiwi"
        },
        {
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-hourglass',
          builder_link: '/fuzz-builder/?sticker=hourglass&pg=2',
          img: '/img/illustrator-series/hourglass.jpg',
          img_placeholder: '/img/illustrator-series/hourglass-placeholder.jpg',
          title: "Hourglass"
        }
      ]
    },
    {
      artist:  'Anna Geschwind',
      ig: 'annageschwind.art',
      pedals: [
        {
          store_link: 'https://shop.mas-effects.com/collections/tiny-fuzz/products/tiny-fuzz-middle-earth',
          builder_link: '/fuzz-builder/?sticker=map&pg=2',
          img: '/img/illustrator-series/map.jpg',
          img_placeholder: '/img/illustrator-series/map-placeholder.jpg',
          title: "Middle Earth"
        }
      ]
    }
  ]
  %>

  <section class="page-section bg-light bordered">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="section-heading text-uppercase text-center">Meet The Illustrators</h2>
          <h3 class="text-center section-subheading text-muted">and their work...</h3>
        </div>
      </div>
    </div>
  </section>

  <% macro artist_section(section, row_num) %>
    <section class="page-section <% if row_num > 0 %>bordered<% endif %>" id="<$ section.artist | lower | replace(' ', '-') $>">
      <div class="container">
        <div class="row mb-4">
          <div class="col">
            <div class="artist-info">
              <h3 class="text-uppercase text-center"><$ section.artist $></h3>
              <div class="text-center small">
                <a target="_blank" href="https://www.instagram.com/<$ section.ig $>/">follow on instagram: <strong>@<$ section.ig $></strong></a>
              </div>
              <% if section.store %>
                <div class="text-center small">
                  <a target="_blank" href="<$ section.store $>">Buy prints or other merchandise here</a>
                </div>
              <% endif %>
            </div>
          </div>
        </div>
        <$ caller() $>
      </div>
    </section>
  <% endmacro %>

  <% macro row_single_pedal(pedal) %>
    <div class="row">
      <div class="col-12 col-sm-6 col-md-4 text-center">
        <$ pedal_img(pedal) $>
      </div>
      <div class="col-12 col-sm-6 col-md-8">
        <$ pedal_details_and_buttons(pedal) $>
      </div>
    </div>
  <% endmacro %>

  <% macro col_pedal_top(pedal) %>
    <div class="col-12 col-sm-6 col-md-4 text-center">
      <$ pedal_img(pedal) $>
      <# tiny screen shows the details directly below the image... #>
      <div class="d-block d-sm-none">
        <$ pedal_details_and_buttons(pedal) $>
      </div>
      <div class="d-none d-md-block">
        <$ pedal_details(pedal) $>
      </div>
    </div>

    <# sm shows the details next to the image... #>
    <div class="d-none d-sm-block d-md-none col-6 col-sm-6">
      <$ pedal_details_and_buttons(pedal) $>
    </div>
  <% endmacro %>

  <# md and lg show the details below the image, and in its own row to vertically align #>
  <% macro col_pedal_bottom(pedal) %>
    <div class="d-none d-md-block col-md-4">
      <$ pedal_buttons(pedal) $>
    </div>
  <% endmacro %>

  <% macro pedal_img(pedal) %>
    <a href="<$ pedal.store_link if pedal.store_link else pedal.builder_link $>" target="_blank">
      <img class="<% if pedal.img_placeholder %>lazy<% endif %> img-fluid" src="<$ pedal.img_placeholder if pedal.img_placeholder else pedal.img $>" data-src="<$ pedal.img $>" alt="Tiny Fuzz pedal: <$ pedal.title $> by <$ pedal.artist $>" />
    </a>
  <% endmacro %>

  <% macro pedal_details_and_buttons(pedal) %>
    <$ pedal_details(pedal) $>
    <$ pedal_buttons(pedal) $>
  <% endmacro %>

  <% macro pedal_details(pedal) %>
    <h4><em><$ pedal.title $></em></h4>
    <% if pedal.upgrade %>
      <p>Upgrade available: <$ pedal.upgrade $></p>
    <% endif %>
  <% endmacro %>

  <% macro pedal_buttons(pedal) %>
    <% if pedal.store_link %>
      <a class="btn btn-block btn-primary" target="_blank" href="<$ pedal.store_link $>">Shop In-Stock <% if pedal.upgrade %>[$59-69]<% else %>[$59]<% endif %></a>
    <% else %>
      <button class="btn btn-block btn-secondary" disabled>COMING SOON: Shop In-Stock <% if pedal.upgrade %>[$59-69]<% else %>[$59]<% endif %></button>
    <% endif %>
    <a target="_blank" class="btn btn-block btn-<% if pedal.store_link %>outline-<% endif %>primary" href="<$ pedal.builder_link $>">Customize [$75+]</a>
  <% endmacro %>

  <% for section in sections %>
    <% call artist_section(section, loop.index0) %>
      <% if section.pedals.length > 1 %>
        <div class="row">
          <% for pedal in section.pedals %>
            <$ col_pedal_top(pedal) $>
          <% endfor %>
        </div>
        <div class="row">
          <% for pedal in section.pedals %>
            <$ col_pedal_bottom(pedal) $>
          <% endfor %>
        </div>
      <% else %>
        <$ row_single_pedal(section.pedals[0]) $>
      <% endif %>
    <% endcall %>
  <% endfor %>

  <section class="page-section bg-light bordered">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2 class="section-heading text-uppercase text-center">FAQ</h2>
        </div>
      </div>
      <div class="row">
        <div class="col">
          <a  id="faq-price" class="anchor"></a>
          <h3>How is this so affordable?</h3>
          <p><strong><em>And also incredibly well-built</em></strong>
        </div>
      </div>
      <div class="row">
        <div class="col small">
          <p>
          Making this pedal extremely affordable <strong>WITHOUT sacrificing quality</strong> has been a <strong>central focus from day one</strong>. It didn't just happen, but is the result of careful planning and many iterations.
          </p>

          <p>
          <strong>1. Build time:</strong>
          I've gone through
          <em>countless iterations</em>
          of every aspect of this pedal
          and have progressively made it quicker and simpler to build.
          This includes everything: specialty-sized enclosure, specific hardware choices, circuit board layout and design, and more.
          </p>

          <p>
          <strong>2. Trim the fat:</strong>
          The Tiny Fuzz is housed in a
          <em>raw aluminum enclosure with a heavy duty vinyl sticker</em>,
          which is far more economical - especially when offering so many designs to pick from - than traditional powder coating and UV printing. Not to mention it simply looks more interesting, and holds up to extreme abuse.
          </p>
          <p>There's <em>NO indicator LED</em> by default. Considering these are hand-built, that amounts to considerable time savings.  You can, however, add an LED indicator by <a href="/fuzz-builder">ordering a custom-built one</a>.</p>
          <p>The packaging is lovely <small>(if I do say so myself)</small>, but is handmade and economical. I'm not splurging on custom printed boxes, die cut foam/cardboard, or full color printed inserts.</p>

          <p>
          <strong>3. Practical circuit design:</strong>
          The Tiny Fuzz was designed around <em>commonly available, modern components</em> (diodes, transistors, etc).
          You won't find any "unobtainium" parts in the pedal, purely for mojo.
          </p>
          <p>
          You also won't find sub par, modern substitutions for vintage parts. Instead the best combinations of readily available components were auditioned and discovered through planning and experimentation.
          </p>

          <p>
          <strong>4. Good business sense:</strong>
          Finally, I use common sense to keep overhead low <small>(e.g. work from home, do most things myself, avoid frivolous expenses, etc)</small>
          </p>
          <p>
          Moreover, I don't do traditional advertising.  Instead by putting a ton of effort into delighting customers and providing quick, personal attention I focus on driving word-of-mouth and referrals.
          </p>
        </div>
      </div>


      <div class="row">
        <div class="col">
          <a id="faq-sound" class="anchor"></a>
          <h3>About the audio circuit and its sound</h3>
        </div>
      </div>
      <div class="row">
        <div class="col small">
          <p><strong><em>What sort of fuzz pedal is this?</em></strong>
          <p>Simple, no-nonsense fuzz pedal. It has <strong>a single voice that goes from all-out buzz saw down to a light break up</strong> <small>(roll back that guitar volume!)</small>. It has an amazingly <strong>quiet, low noise floor</strong>, too.</p>
          <p>The circuit that drives this is small, but deceptively complex and not a typical configuration. It uses a diode and transistor to provide asymmetric clipping, that is different distortion for the positive and negative halves of your guitar's signal. These two, plus a biasing and drain resistor work together in a very intertwined dance.  This circuit behaves very differently depending on what specific values and components are chosen, so a lot of time and effort went into finding the optimal combinations.
          </p>
          <p><em>NOTE:</em> This pedal has a low input impedance (4.5k to 30k) which contributes to its characteristic thick and heavy sound. The trade off is that it may not play well with some pedals if it's placed after them. So <strong>try it out earlier in your chain</strong>.</p>
          <!--
          <div class="text-center">
            <a target="_blank" href="https://soundcloud.com/mark-a-stratman/sets/monster-under-the-bed-pedal-quick-and-dirty-samples" class="btn btn-primary">Quick Clips</a>
            <br>
            <a target="_blank" href="https://www.reddit.com/r/guitarpedals/comments/kmju17/mas_effects_fuzzy_monster_under_the_bed_guitar/" class="btn btn-outline-primary">Demo by Justus Gash</a>
          </div>
          -->
        </div>
      </div>

      <div class="row">
        <div class="col">
          <a id="faq-love" class="anchor"></a>
          <h3>Who's behind this?</h3>
        </div>
      </div>
      <div class="row">
        <div class="col small">
          <p>Support a <strong>small business</strong> and <strong>independent illustrators</strong> with your purchase.</p>
          <p>These pedals are carefully and lovingly made in the USA <small>(Lockport, IL)</small> by <a target="_blank" href="https://stratman.me/">Mark A. Stratman</a> (<a href="https://www.instagram.com/mas_effects/" target="_blank">@MAS_Effects</a>). A little more info is in the <a href="/help/#about">About page</a>.</p>
          <p>The illustrations come from a variety of artists around the world. I encourage you to check out their websites, and buy prints and other products featuring their work. If you <a href="/fuzz-builder/">build a custom pedal</a> you'll also have the option to buy an extra faceplate sticker and have 100% added to the artist's royalty.</p>
          <p>Scroll up on this page to find links to each artist's site.</p>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
