<% set title="DIY Pedal Tower for troubleshooting and prototyping guitar pedals" %>
<% set head_jquery=true %>
<% set meta_description="Easily test and troubleshoot DIY guitar pedals and other audio circuits with this comprehensive testing rig." %>
<% set og_image="https://mas-effects.com/img/tower/cover.jpg" %>
<% extends "partials/_template.html" %>

<% block head_additions %>
  <link type="text/css" rel="stylesheet" href="/vendor/simpleLightbox.min.css" />
  <script src="/vendor/simpleLightbox.min.js"></script>
  <script src="/js/lightbox.min.js"></script>
<% endblock %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>
  <section class="page-section small">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-2 section-heading text-uppercase">DIY Pedal Tower</h1>
          <h3 class="section-subheading text-muted">TESTING and PROTOTYPING PLATFORM</h3>
          <div class="my-2">
            <a class="btn btn-success" href="https://shop.mas-effects.com/collections/featured-products/products/diy-pedal-tower-prototyping-and-testing-rig">Buy Now [$29]</a>
            <a class="btn btn-primary" href="#documentation">Documentation</a>
          </div>
          <!--
          <img class="img-fluid" src="/img/tower/cover-smaller.jpg" alt="DIY Pedal Tower">
          -->
          <div class="embed-responsive embed-responsive-16by9 text-white" style="background-color: #8f8f8f;">
            <iframe src="https://www.youtube.com/embed/sjzKWPuikTI?si=Q9ZjwWmz1tkADXSg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="page-section small">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h2>What is it?</h2>
        </div>
      </div>

      <div class="row">
        <div class="col col-sm-6 col-md-4">
          <a class="lightbox" href="/img/tower/real-world-usage.jpg">
            <img class="img-fluid lazy" src="/img/tower/real-world-usage-thumb-placeholder.jpg" data-src="/img/tower/real-world-usage-thumb.jpg" alt="DIY Pedal Tower for prototyping and testing pedal guts">
          </a>
          <a class="lightbox" href="/img/tower/dogfooding.jpg">
            <img class="img-fluid lazy" src="/img/tower/dogfooding-thumb-placeholder.jpg" data-src="/img/tower/dogfooding-thumb.jpg" alt="Using the DIY Pedal Tower to test itself">
          </a>
        </div>
        <div class="col col-sm-6 col-md-8">
          <p>A feature-filled, compact, extensible rig for testing and prototyping DIY guitar pedals or other circuitry.</p>
          <ul>
            <li>Test pedal PCBs before boxing them</li>
            <li>Hook up your breadboard to your guitar, amp, and power supplies</li>
            <li>You don't even need to hook up the guitar or amp, actually, with the sample player and tone generator add-on layer, and the speaker and amplifier add-on layer.</li>
          </ul>
          <p>Customize it. Add custom or off-the-shelf layers to make it your own.</p>
        </div>
      </div>
    </div>
  </section>

  <a class="anchor" id="documentation"></a>
  <section class="page-section small">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Documentation for the DIY Pedal Tower</h2>
          <a href="/tower/diy-pedal-tower.pdf">
            <img src="/img/tower/booklet.png" style="border: 1px solid black" alt="Booklet: Assembly and Usage for the DIY Pedal Tower">
            <br>
            Booklet: Assembly and Usage
          </a>
          <h2 class="mt-4">Hacker's Documentation: <span>Deeper Dive into the DIY Pedal Tower</span></h2>
          <p>You don't need any of this to build your tower, but if you want to hack at it or are curious...</p>
          <ul>
            <li><a href="/tower/diy-pedal-tower-jacks.pdf">Schematic: Jacks PCB</a></li>
            <li><a href="/tower/diy-pedal-tower-controls.pdf">Schematic: Controls PCB</a></li>
            <li><a href="/tower/diy-pedal-tower-amp.pdf">Schematic: Amplifier and Speaker</a></li>
            <li><a href="/tower/diy-pedal-tower-sample-tone-player.pdf">Schematic: Sample Player and Tone Generator</a></li>
            <li>(coming soon) Source code: Sample Player and Tone Generator</li>
          </ul>
        </div>
      </div>
    </div>
  </section>

  <a class="anchor" id="documentation"></a>
  <section class="page-section small bg-light">
    <div class="container">
      <div class="row">
        <div class="col">
          <h2>Custom Add-ons</h2>
          <p>Have you made something useful or fun with the <a target="_blank" href="https://shop.mas-effects.com/collections/diy-pedal-tower/products/blank-customizable-layer-for-diy-pedal-tower">customizable layer</a>? <a href="/contact">Reach out</a> and we'll post it here.</p>
          <p><em>Coming soon:</em> template for <a target="_blank" href="https://bancika.github.io/diy-layout-creator/">DIY Layout Creator (DIYLC)</a>.</p>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
