<% set title="Trio+ True Bypass for Digitech Pedal + FS3X footswitch" %>
<% set meta_description="Ever wanted to bypass your Trio+ looper pedal without unplugging it? Well, now you finally can... Includes FS3X foot switch capabilities" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">Deluxe True Bypass for Trio+ with FS3X Foot Switch</h1>
          <h3 class="section-subheading text-muted">Prevent tone suck without unplugging<h3>
        </div>
      </div>
      <div class="row">
        <div class="col-12 col-sm-6 text-center">
          <a target="_blank" href="https://shop.mas-effects.com/products/trio-true-bypass-with-fs3x-foot-switch">
            <img class="lazy img-fluid" src="/img/trio-bypass-cropped-placeholder.jpg" data-src="/img/trio-bypass-cropped.jpg" alt="True Bypass for the Trio+ Looper Pedal with FS3X replacement" />
          </a>
        </div>
        <div class="col-12 col-sm-6 small">
          <p>
          Get all the same functionality as the FS3X foot switch, popular for adding tons of extra functionality to the Digitech Trio+ looper pedal... but also, and most importantly, gain the ability to truly and completely bypass the Trio+ in your signal chain when you aren't teaching it new songs.
          </p>
          <p>
            <a class="btn btn-primary" target="_blank" href="https://shop.mas-effects.com/products/trio-true-bypass-with-fs3x-foot-switch">Buy Now</a>
          </p>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
