<% set title="VU Meter Driver (DC meters) for DIY Guitar Pedals" %>
<% extends "partials/_template.html" %>

<% block body %>
  <section class="page-section pb-0 pb-lg-4 bg-dark text-white">
  </section>

  <section class="page-section">
    <div class="container">
      <div class="row">
        <div class="col text-center">
          <h1 class="mb-4 section-heading text-uppercase">VU Meter Driver</h1>
          <!--
          <h3 class="section-subheading text-muted">True bypass... Hold to temporarily engage/bypass... Tiny 1590A footprint... Optocoupler muting</h3>
          -->
        </div>
      </div>
      <div class="row">
        <div class="col col-sm-4">
          <a href="/img/diy/relay.jpg" target="_blank">
            <img class="lazy img-fluid" src="/img/diy/VU-driver-square-reduced-placeholder.jpg" data-src="/img/diy/VU-driver-square-reduced.jpg" alt="VU Meter Driver PCB for DIY Guitar Pedals" />
          </a>
        </div>
        <div class="col">
          <p><em>More info coming in the next couple days (posted Dec 8th, 2020)</em></p>
        </div>
      </div>
    </div>
  </section>

<% endblock %>
