#s-408276f5-7bd6-45f6-aa21-3af9125daf61 > #backgroundBox {
  position: absolute;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 > #alignmentBox {
  position: relative;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Rectangle_1 {
  position: absolute;
  width: 768.0000000000007px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Rectangle_5 {
  position: absolute;
  width: 768.0000000000005px;
  min-height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #shapewrapper-s-Callout_1 .paddingLayer {
  left: 0.0px;
  right: 0.0px;
  top: 0.0px;
  bottom: 37.50017860828578px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #shapewrapper-s-Callout_1 .content {
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #shapewrapper-s-Callout_1 {
  position: absolute;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Callout_1 {
  width: 180.0px;
  height: 134.38071924031823px;
  min-height: 134.38071924031823px;
  padding-top: 3px;
  padding-right: 3px;
  padding-bottom: 3px;
  padding-left: 3px;
  stroke-width: 2.0px;
  stroke: #000000;
  margin-left: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
  margin-top: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #shapewrapper-s-Callout_1 > .backgroundLayer > .colorLayer {
  background-color: #FEFFC7;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #shapewrapper-s-Callout_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #shapewrapper-s-Callout_1 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #shapewrapper-s-Callout_1 span#rtr-s-Callout_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Path_1 {
  position: absolute;
  width: 512.597412109375px;
  height: 2.0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: italic;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: italic;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Path_2 {
  position: absolute;
  width: 697.744384765625px;
  height: 2.0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_3 {
  position: absolute;
  width: 695.7444089456869px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_3 span#rtr-s-Paragraph_3_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: left;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_7 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: italic;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: italic;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_8 {
  position: absolute;
  width: 695.7444089456869px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_8 span#rtr-s-Paragraph_8_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_10 {
  position: absolute;
  width: 695.7444089456869px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: left;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_10 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_10 span#rtr-s-Paragraph_10_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_11 {
  position: absolute;
  width: 695.7444089456869px;
  min-height: 40.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_11 span#rtr-s-Paragraph_11_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_12 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_13 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-408276f5-7bd6-45f6-aa21-3af9125daf61 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}