#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 > #backgroundBox {
  position: absolute;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 > #alignmentBox {
  position: relative;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_1 {
  position: absolute;
  width: 768.0000000000007px;
  min-height: 45.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_1 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_1 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_1 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_1 span#rtr-s-Rectangle_1_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_2 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_2 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_2 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_2 span#rtr-s-Paragraph_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_3 {
  position: absolute;
  width: 391.1660156249998px;
  min-height: 41.00000000000006px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_3 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_3 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_3 span#rtr-s-Paragraph_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 18.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_4 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_4 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_4 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_4 span#rtr-s-Paragraph_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 34.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_5 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_5 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_5 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_5 span#rtr-s-Paragraph_5_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 13.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_1 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_1 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_1 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_1 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_1 span#rtr-s-Paragraph_1_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_9 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_9 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_9 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_9 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_9 span#rtr-s-Paragraph_9_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_14 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_14 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_14 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_14 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_14 span#rtr-s-Paragraph_14_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_15 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_15 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_15 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_15 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_15 span#rtr-s-Paragraph_15_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 9.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_5 {
  position: absolute;
  width: 768.0000000000005px;
  min-height: 59.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_5 > .backgroundLayer > .colorLayer {
  background-color: #F6F7F8;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_5 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_5 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_5 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_5 span#rtr-s-Rectangle_5_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_21 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_21 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_21 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_21 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_21 span#rtr-s-Paragraph_21_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 700;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_6 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_6 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_6 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_6 span#rtr-s-Paragraph_6_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_2 {
  position: absolute;
  width: 200.00000000000023px;
  min-height: 108.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_2 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_2 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_2 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_2 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_2 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_2 span#rtr-s-Rectangle_2_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_2 span#rtr-s-Rectangle_2_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_2 span#rtr-s-Rectangle_2_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_2 span#rtr-s-Rectangle_2_3 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_3 {
  position: absolute;
  width: 200.00000000000023px;
  min-height: 108.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_3 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_3 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_3 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_3 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_3 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_3 span#rtr-s-Rectangle_3_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_3 span#rtr-s-Rectangle_3_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_3 span#rtr-s-Rectangle_3_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_3 span#rtr-s-Rectangle_3_3 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_4 {
  position: absolute;
  width: 200.00000000000023px;
  min-height: 108.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_4 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_4 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #000000;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #000000;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #000000;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #000000;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_4 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_4 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_4 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_4 span#rtr-s-Rectangle_4_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_4 span#rtr-s-Rectangle_4_1 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_4 span#rtr-s-Rectangle_4_2 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_4 span#rtr-s-Rectangle_4_3 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 16.5pt;
  font-style: normal;
  font-weight: 700;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_7 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_7 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_7 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_7 span#rtr-s-Paragraph_7_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_8 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_8 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_8 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_8 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_8 span#rtr-s-Paragraph_8_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_10 {
  position: absolute;
  width: auto;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  cursor: pointer;
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_10 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_10 .valign {
  vertical-align: top;
  text-align: center;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_10 span {
  color: #000000;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_10 span#rtr-s-Paragraph_10_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 12.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_39 {
  position: absolute;
  width: 440.0px;
  min-height: 130.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_39 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_39 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_39 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_39 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_39 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_39 span#rtr-s-Rectangle_39_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_35 {
  position: absolute;
  width: 361.01775926484675px;
  min-height: 88.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_35 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_35 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_35 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_35 span#rtr-s-Paragraph_35_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_36 {
  position: absolute;
  width: 69.48046875px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_36 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_36 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_36 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_36 span#rtr-s-Paragraph_36_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_6 {
  position: absolute;
  width: 440.0px;
  min-height: 130.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_6 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_6 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_6 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_6 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_6 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_6 span#rtr-s-Rectangle_6_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_11 {
  position: absolute;
  width: 361.01775926484675px;
  min-height: 88.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_11 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_11 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_11 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_11 span#rtr-s-Paragraph_11_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_12 {
  position: absolute;
  width: 69.48046875px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_12 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_12 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_12 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_12 span#rtr-s-Paragraph_12_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_7 {
  position: absolute;
  width: 440.0000000000002px;
  min-height: 162.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_7 > .backgroundLayer > .colorLayer {
  background-color: #FFFFFF;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_7 > .borderLayer {
  border-top-width: 1.0px;
  border-top-style: solid;
  border-top-color: #DBDBDB;
  border-right-width: 1.0px;
  border-right-style: solid;
  border-right-color: #DBDBDB;
  border-bottom-width: 1.0px;
  border-bottom-style: solid;
  border-bottom-color: #DBDBDB;
  border-left-width: 1.0px;
  border-left-style: solid;
  border-left-color: #DBDBDB;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_7 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_7 .valign {
  vertical-align: middle;
  text-align: center;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_7 span {
  color: #333333;
  text-align: center;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Rectangle_7 span#rtr-s-Rectangle_7_0 {
  color: #333333;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 10.5pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_13 {
  position: absolute;
  width: 361.01775926484675px;
  min-height: 126.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_13 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_13 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_13 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_13 span#rtr-s-Paragraph_13_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 11.25pt;
  font-style: normal;
  font-weight: 400;
  line-height: 21px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_16 {
  position: absolute;
  width: 69.48046875px;
  min-height: 23.0px;
  -webkit-transform: rotate(0.0deg);
  -moz-transform: rotate(0.0deg);
  transform: rotate(0.0deg);
  border-left-width: 0px;
  border-bottom-width: 0px;
  border-right-width: 0px;
  border-top-width: 0px;
  font-size: 0pt;
  font-family: 'Arial',Arial;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_16 .paddingLayer {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_16 .valign {
  vertical-align: top;
  text-align: left;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_16 span {
  color: #000000;
  text-align: left;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 #s-Paragraph_16 span#rtr-s-Paragraph_16_0 {
  color: #000000;
  text-decoration: none;
  font-family: 'Arial',Arial;
  font-size: 14.0pt;
  font-style: normal;
  font-weight: 400;
}
.devMobile #jim-container .ui-page {
  overflow-x: hidden;
}
.non_jim_mobile #simulation {
  overflow-x: hidden;
}
.web #simulation {
  overflow-x: hidden;
}
#s-b1e485cd-6134-4667-b94f-71bd6c0bec71 > #loadMark {
  width: 1px;
  visibility: hidden;
  display: none;
}