<p><strong><a target="_blank" href="https://shop.mas-effects.com/collections/tiny-fuzz">Get a pre-built fuzz pedal with your favorite design for $49</a></strong>, or upgrade to a <a href="/fuzz-builder/">fully customized pedal</a>.</p>
<p>Some designs can be upgraded for $10 with back-lit, ambient LEDs integrated into the illustration.</p>
<div class="mt-4">
  <a class="btn btn-lg btn-block btn-primary" target="_blank" href="/tiny-fuzz/">Learn More &amp; Meet the Illustrators</a>
  <a class="btn btn-block btn-outline-primary" target="_blank" href="https://shop.mas-effects.com/collections/tiny-fuzz">Shop In-Stock</a>
  <a class="btn btn-block btn-outline-primary" target="_blank" href="/fuzz-builder/">Customize Yours</a>
</div>
