<div class="row">
  <div class="col">
    <p>For a very motivated DIY'er, I've posted <a target="_blank" href="https://github.com/mstratman/fv1-pedal-platform">everything you need to build this pedal on github</a>.</p>
    <p>Or if you already <a target="_blank" href="https://shop.mas-effects.com/products/mimirs-well">own a pre-built pedal</a>, this github repository is also great if you want to customize the display code (different colors? different fonts? <strong>completely redesign the screen</strong>?)</p>
    <p>It also has the code and tools to <a target="_blank" href="https://github.com/mstratman/fv1-pedal-platform/blob/master/README.md"><strong>make your own EEPROMs</strong></a>.</p>
    <p>I also sell PCBs and kits that can take away some of the trickier parts of this build:</p>
    <ul>
      <li>$89 <a target="_blank" href="https://shop.mas-effects.com/products/mimirs-well-partial-kit">Partial kit</a> with pre-soldered surface mount DSP chip, pre-programmed display microcontroller, and more</li>
      <li>$12 <a target="_blank" href="https://shop.mas-effects.com/collections/diy/products/mimirs-well-pcb">PCB only</a></li>
    </ul>
  </div>
</div>
